<!doctype html>
<html lang="en"
      ng-app="jlogApp">
  <head>
    <meta charset="utf-8">
    <title>Journey Log</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <% self.class.styles.each do |style| %>
      <link rel="stylesheet" href="<%= style %>" />
    <% end %>
  </head>
  <body ng-controller="mainCtrl" ng-click="drop_down.clear()">
    <nav id="top-bar"
         class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
        <span style="
              position:absolute;
              bottom:0;
              left:2em;
              font-size:0.8em;
              color:#666;
              ">#<%= @git_commit %></span>
        <a class="navbar-brand" href="#">
          Journey Log
        </a>
        <ul id="tab-menu"
            class="nav navbar-nav"
            ng-include="'partials/menu.html'">
        </ul>
        <div id="drop-menu"
             class="btn-group"
             ng-class="{ 'open': drop_down.active('menu') }">
          <button class="btn btn-default navbar-btn"
                  ng-click="drop_down.toggle('menu', $event)">
            <span class="glyphicon glyphicon-th-list"></span>
            Menu
          </button>
          <ul class="dropdown-menu"
              ng-include="'partials/menu.html'">
          </ul>
        </div>
      </div>
      <app-cache-progress-bar>
      </app-cache-progress-bar>
    </nav>
    <div id="view-container" ui-view="page"></div>
    <nav id="bottom-bar"
         class="navbar navbar-default navbar-fixed-bottom"
         ng-show="bottom_bar.show">
      <div class="container text-center"
           ui-view="bottom-bar"></div>
    </nav>

    <% self.class.scripts.each do |script| %>
      <script src="<%= script %>"></script>
    <% end %>
 </body>
</html>
