<!doctype html>
<html lang="en"
      ng-app="jlogApp"
      manifest="<%= self.class.manifest %>">
  <head>
    <meta charset="utf-8">
    <title>Journey Log</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <% self.class.styles.each do |style| %>
      <link rel="stylesheet" href="<%= style %>" />
    <% end %>
  </head>
  <body ng-controller="mainCtrl" ng-click="drop_down.clear()">
    <nav id="top-bar"
         class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          Journey Log
        </a>
      </div>
    </nav>
    <div id="view-container" ui-view="page"></div>
    <nav id="bottom-bar"
         class="navbar navbar-default navbar-fixed-bottom">
      <div class="container text-center"
           ui-view="bottom-bar"></div>
    </nav>

    <% self.class.scripts.each do |script| %>
      <script src="<%= script %>"></script>
    <% end %>
 </body>
</html>
