<div ui-view></div>
<div class="container"
     ng-show="show_list">
  <p>
    <button class="btn btn-primary" ng-click="addBattle()">
      <span class="glyphicon glyphicon-plus"></span>
      Add Battle
    </button>
    <button class="btn btn-default" ng-click="toggleFilter()">
      <span class="glyphicon glyphicon-search"></span>
      <span ng-hide="filter_active">Enable</span>
      <span ng-show="filter_active">Disable</span>
      Filter
    </button>
  </p>
  <form class="visible-xs">
    <label for="sort-by">Sort by</label>
    <select id="sort-by"
            ng-model="sort.type"
            ng-options="id as t.name for (id, t) in sort.types">
    </select>
    <input id="sort-reverse" type="checkbox" ng-model="sort.reverse" />
    <label for="sort-reverse" class="clickable">reverse</label>
  </form>
  <table class="table result">
    <tr>
      <th class="hidden-xs" sortable="date" sort="sort">
        Date
      </th>
      <th sortable="my_caster" sort="sort">
        Caster
      </th>
      <th sortable="opponent" sort="sort">
        Opponent
      </th>
      <th sortable="opp_caster" sort="sort">
        Caster
      </th>
      <th class="hidden-xs" sortable="size" sort="sort">
        Size
      </th>
      <th class="visible-lg" sortable="scenario" sort="sort">
        Scenario
      </th>
      <th class="visible-lg" sortable="event" sort="sort">
        Event
      </th>
      <th sortable="result" sort="sort">
        Result
      </th>
    </tr>
    <tr class="clickable"
        bindonce
        ng-repeat="battle in list_display.battles"
        ng-click="viewBattle(battle.index)">
      <td class="hidden-xs">
        <span bo-text="battle.date.year+' / '+battle.date.month+' / '+battle.date.day">
        </span>
      </td>
      <td>
        <img class="faction-icon"
             bo-src="'img/'+factions[battle.my_army.faction].icon" />
        <span bo-text="battle.my_army.caster | capitalise"></span>
      </td>
      <td>
        <span bo-text="battle.opponent.name | capitalise"></span>
      </td>
      <td>
        <img class="faction-icon"
             bo-src="'img/'+factions[battle.opponent.faction].icon" />
        <span bo-text="battle.opponent.caster | capitalise"></span>
      </td>
      <td class="hidden-xs">
        <span bo-text="battle.setup.size"></span>
      </td>
      <td class="visible-lg">
        <span bo-text="scenarios[battle.setup.scenario].name"></span>
      </td>
      <td class="visible-lg">
        <span bo-text="battle.setup.event"></span>
      </td>
      <td bo-class="{'text-success':scores[battle.score].result==='victory', 'text-danger':scores[battle.score].result==='defeat', 'text-warning':scores[battle.score].result==='draw'}">
        <strong class="score-result"
                bo-text="scores[battle.score].type | scoreTypeLetter">
        </strong>
      </td>
    </tr>
  </table>
</div>
<div class="text-center clickable" 
     ng-show="show_list && list_display.more" 
     ng-click="list_display.showMore()" 
     style="background-color:#DDD" 
     when-scrolled="list_display.showMore()">
  More...
</div>
