<div class="container">
  <table class="table result">
    <tr>
      <th class="hidden-xs">Date</th>
      <th>Caster</th>
      <th>Opponent</th>
      <th>Caster</th>
      <th class="hidden-xs">Size</th>
      <th class="visible-lg">Scenario</th>
      <th class="visible-lg">Event</th>
      <th>Result</th>
    </tr>
    <tr class="clickable" ng-repeat="battle in battles" ng-click="viewBattle(battle.index)">
      <td class="hidden-xs">
        {{battle.date.year}} /
        {{battle.date.month}} /
        {{battle.date.day}}
      </td>
      <td>
        <img width="35"
             alt="{{battle.my_army.faction}}"
             src="img/{{factions[battle.my_army.faction].icon}}" />
        {{battle.my_army.caster | capitalise}}
      </td>
      <td>{{battle.opponent.name | capitalise}}</td>
      <td>
        <img width="35"
             alt="{{battle.opponent.faction}}"
             src="img/{{factions[battle.opponent.faction].icon}}" />
        {{battle.opponent.caster | capitalise}}
      </td>
      <td class="hidden-xs">{{battle.setup.size}}</td>
      <td class="visible-lg">{{scenarios[battle.setup.scenario].name}}</td>
      <td class="visible-lg">{{battle.setup.event}}</td>
      <td class="{{scores[battle.score].result | scoreResultColor}}">
        <strong class="score-result">{{scores[battle.score].type | scoreTypeLetter}}</strong>
      </td>
    </tr>
  </table>
  <p class="text-center">
    <button class="btn btn-primary" ng-click="addBattle()">
      <span class="glyphicon glyphicon-plus"></span> Add
    </button>
  </p>
</div>
