<div class="container">
  <p>
    <button class="btn btn-primary"
            ng-click="addBattle()">
      <span class="glyphicon glyphicon-plus"></span>
      Add Battle
    </button>
    <button class="btn btn-default"
            ng-click="toggleFilter()">
      <span class="glyphicon glyphicon-search"></span>
      <span ng-hide="filter_active">Enable</span>
      <span ng-show="filter_active">Disable</span>
      Filter
    </button>
    <button class="btn btn-default"
            ng-click="invertFilter()"
            ng-show="filter_active">
      <span class="glyphicon glyphicon-random"></span>
      <span ng-hide="filter_invert">Invert</span>
      <span ng-show="filter_invert">Restore</span>
      Filter
    </button>
  </p>
  <form class="visible-xs">
    <label for="sort-by">Sort by</label>
    <select class="form-control list-edit-form"
            id="sort-by"
            ng-model="sort.type"
            ng-options="id as t.name for (id, t) in sort.types">
    </select>
    <input class="form-control list-edit-form"
           id="sort-reverse" 
           type="checkbox" 
           ng-model="sort.reverse" />
    <label for="sort-reverse" class="clickable">reverse</label>
  </form>
    <span class="export">
      <span export-link
            name="battle_list"
            type="csv"
            source="list_display">
        Export to csv
      </span>,
      <span export-link
            name="battle_list"
            type="json"
            source="list_display">
        json
      </span>,
      <span export-link
            name="battle_list"
            type="bb"
            source="list_display">
        bbCode
      </span>
    </span>
  <table class="table result">
    <tr>
      <th class="hidden-xxs" sortable="date" sort="sort">
        Date
      </th>
      <th sortable="my_caster" sort="sort">
        Caster
      </th>
      <th sortable="opponent" sort="sort">
        Opponent
      </th>
      <th sortable="opp_caster" sort="sort">
        Caster
      </th>
      <th class="visible-lg" sortable="size" sort="sort">
        Size
      </th>
      <th class="visible-lg" sortable="scenario" sort="sort">
        Scenario
      </th>
      <th class="hidden-xxs" sortable="event" sort="sort">
        Event
      </th>
      <th sortable="result" sort="sort">
        Result
      </th>
    </tr>
    <tr class="clickable"
        ng-repeat="battle in list_display.battles track by battle.index"
        ng-click="viewBattle(battle.index)">
      <td class="hidden-xxs">
        <span>{{battle.date.year+' / '+battle.date.month+' / '+battle.date.day}}
        </span>
      </td>
      <td>
        <img class="faction-icon"
             ng-src="{{'img/'+factions[battle.my_army.faction].icon}}" />
        <span>{{battle.my_army.caster | capitalise}}</span>
      </td>
      <td>
        <span>{{battle.opponent.name | capitalise}}</span>
      </td>
      <td>
        <img class="faction-icon"
             ng-src="{{'img/'+factions[battle.opponent.faction].icon}}" />
        <span>{{battle.opponent.caster | capitalise}}</span>
      </td>
      <td class="visible-lg">
        <span>{{battle.setup.size}}</span>
      </td>
      <td class="visible-lg">
        <span>{{scenarios[battle.setup.scenario].name}}</span>
      </td>
      <td class="hidden-xxs">
        <span>{{battle.setup.event}}</span>
      </td>
      <td ng-class="{'text-success':scores[battle.score].result==='victory', 'text-danger':scores[battle.score].result==='defeat', 'text-warning':scores[battle.score].result==='draw'}">
        <strong class="score-result">
          {{scores[battle.score].type | scoreTypeLetter}}
        </strong>
      </td>
    </tr>
  </table>
</div>
<div class="text-center clickable" 
     ng-show="show_list && list_display.more" 
     ng-click="list_display.showMore()" 
     style="background-color:#DDD" 
     when-scrolled="list_display.showMore()">
  More...
</div>
