<div class="container">
  <button class="btn btn-default"
          ng-click="stats.percent = !stats.percent">
    <span ng-show="stats.percent">Show #</span>
    <span ng-hide="stats.percent">Show %</span>
  </button>
  <button class="btn btn-default"
          ng-click="toggleFilter()">
    <span class="glyphicon glyphicon-search"></span>
    <span ng-hide="filter_active">Enable</span>
    <span ng-show="filter_active">Disable</span>
    Filter
  </button>
  <button class="btn btn-default"
          ng-click="invertFilter()"
          ng-show="filter_active">
    <span class="glyphicon glyphicon-random"></span>
    <span ng-hide="filter_invert">Invert</span>
    <span ng-show="filter_invert">Restore</span>
    Filter
  </button>
  <span class="export">
    <span export-link
          name="stats"
          type="csv"
          source="stats">
      Export to csv
    </span>,
    <span export-link
          name="stats"
          type="json"
          source="stats">
      json
    </span>,
    <span export-link
          name="stats"
          type="bb"
          source="stats">
      bbCode
    </span>
  </span>
  </p>
  <legend class="clickable"
          ng-click="stats.show.all = !stats.show.all">
    All
  </legend>
  <table class="table"
         ng-show="stats.show.all">
    <tr>
      <th>Type</th>
      <th class="text-success">Win</th>
      <th class="text-warning">Draw</th>
      <th class="text-danger">Loss</th>
    </tr>
    <tboby>
      <tr>
        <td>Total</td>
        <td class="text-success">{{stats.active.all.win.total}}</td>
        <td class="text-warning">{{stats.active.all.draw.total}}</td>
        <td class="text-danger">{{stats.active.all.loss.total}}</td>
      </tr>
      <tr>
        <td>Assassination</td>
        <td class="text-success">{{stats.active.all.win.assassination}}</td>
        <td class="text-warning">{{stats.active.all.draw.assassination}}</td>
        <td class="text-danger">{{stats.active.all.loss.assassination}}</td>
      </tr>
      <tr>
        <td>Clock</td>
        <td class="text-success">{{stats.active.all.win.clock}}</td>
        <td class="text-warning">{{stats.active.all.draw.clock}}</td>
        <td class="text-danger">{{stats.active.all.loss.clock}}</td>
      </tr>
      <tr>
        <td>Scenario</td>
        <td class="text-success">{{stats.active.all.win.scenario}}</td>
        <td class="text-warning">{{stats.active.all.draw.scenario}}</td>
        <td class="text-danger">{{stats.active.all.loss.scenario}}</td>
      </tr>
    </tboby>
  </table>
  <legend class="clickable"
          ng-click="stats.show.my_army.faction = !stats.show.my_army.faction">
    My Faction
  </legend>
  <table class="table"
         ng-show="stats.show.my_army.faction">
    <tr>
      <th>Faction</th>
      <th>Type</th>
      <th class="text-success">Win</th>
      <th class="text-warning">Draw</th>
      <th class="text-danger">Loss</th>
    </tr>
    <tbody ng-repeat="(name, f) in stats.active.my_army.faction">
      <tr class="clickable"
          ng-click="stats.show.my_army.factions[name] = !stats.show.my_army.factions[name]">
        <td rowspan="4">{{factions[name].name}}</td>
        <td>Total</td>
        <td class="text-success">{{f.win.total}}</td>
        <td class="text-warning">{{f.draw.total}}</td>
        <td class="text-danger">{{f.loss.total}}</td>
      </tr>
      <tr ng-show="stats.show.my_army.factions[name]">
        <td>Assassination</td>
        <td class="text-success">{{f.win.assassination}}</td>
        <td class="text-warning">{{f.draw.assassination}}</td>
        <td class="text-danger">{{f.loss.assassination}}</td>
      </tr>
      <tr ng-show="stats.show.my_army.factions[name]">
        <td>Clock</td>
        <td class="text-success">{{f.win.clock}}</td>
        <td class="text-warning">{{f.draw.clock}}</td>
        <td class="text-danger">{{f.loss.clock}}</td>
      </tr>
      <tr ng-show="stats.show.my_army.factions[name]">
        <td>Scenario</td>
        <td class="text-success">{{f.win.scenario}}</td>
        <td class="text-warning">{{f.draw.scenario}}</td>
        <td class="text-danger">{{f.loss.scenario}}</td>
      </tr>
    </tbody>
  </table>
  <legend class="clickable"
          ng-click="stats.show.my_army.caster = !stats.show.my_army.caster">
    My Caster
  </legend>
  <table class="table"
         ng-show="stats.show.my_army.caster">
    <tr>
      <th>Caster</th>
      <th>Type</th>
      <th class="text-success">Win</th>
      <th class="text-warning">Draw</th>
      <th class="text-danger">Loss</th>
    </tr>
    <tbody ng-repeat="(name, c) in stats.active.my_army.caster">
      <tr class="clickable"
          ng-click="stats.show.my_army.casters[name] = !stats.show.my_army.casters[name]">
        <td rowspan="4">
          {{factions[c.faction].casters[name].name}}
          ({{name | capitalise}})
        </td>
        <td>Total</td>
        <td class="text-success">{{c.win.total}}</td>
        <td class="text-warning">{{c.draw.total}}</td>
        <td class="text-danger">{{c.loss.total}}</td>
      </tr>
      <tr ng-show="stats.show.my_army.casters[name]">
        <td>Assassination</td>
        <td class="text-success">{{c.win.assassination}}</td>
        <td class="text-warning">{{c.draw.assassination}}</td>
        <td class="text-danger">{{c.loss.assassination}}</td>
      </tr>
      <tr ng-show="stats.show.my_army.casters[name]">
        <td>Clock</td>
        <td class="text-success">{{c.win.clock}}</td>
        <td class="text-warning">{{c.draw.clock}}</td>
        <td class="text-danger">{{c.loss.clock}}</td>
      </tr>
      <tr ng-show="stats.show.my_army.casters[name]">
        <td>Scenario</td>
        <td class="text-success">{{c.win.scenario}}</td>
        <td class="text-warning">{{c.draw.scenario}}</td>
        <td class="text-danger">{{c.loss.scenario}}</td>
      </tr>
    </tbody>
  </table>
  <legend class="clickable"
          ng-click="stats.show.opponent.name = !stats.show.opponent.name">
    Opponent Name
  </legend>
  <table class="table"
         ng-show="stats.show.opponent.name">
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th class="text-success">Win</th>
      <th class="text-warning">Draw</th>
      <th class="text-danger">Loss</th>
    </tr>
    <tbody ng-repeat="(name, n) in stats.active.opponent.name">
      <tr class="clickable"
          ng-click="stats.show.opponent.names[name] = !stats.show.opponent.names[name]">
        <td rowspan="4">{{name | capitalise}}</td>
        <td>Total</td>
        <td class="text-success">{{n.win.total}}</td>
        <td class="text-warning">{{n.draw.total}}</td>
        <td class="text-danger">{{n.loss.total}}</td>
      </tr>
      <tr ng-show="stats.show.opponent.names[name]">
        <td>Assassination</td>
        <td class="text-success">{{n.win.assassination}}</td>
        <td class="text-warning">{{n.draw.assassination}}</td>
        <td class="text-danger">{{n.loss.assassination}}</td>
      </tr>
      <tr ng-show="stats.show.opponent.names[name]">
        <td>Clock</td>
        <td class="text-success">{{n.win.clock}}</td>
        <td class="text-warning">{{n.draw.clock}}</td>
        <td class="text-danger">{{n.loss.clock}}</td>
      </tr>
      <tr ng-show="stats.show.opponent.names[name]">
        <td>Scenario</td>
        <td class="text-success">{{n.win.scenario}}</td>
        <td class="text-warning">{{n.draw.scenario}}</td>
        <td class="text-danger">{{n.loss.scenario}}</td>
      </tr>
    </tbody>
  </table>
  <legend class="clickable"
          ng-click="stats.show.opponent.faction = !stats.show.opponent.faction">
    Opponent Faction
  </legend>
  <table class="table"
         ng-show="stats.show.opponent.faction">
    <tr>
      <th>Faction</th>
      <th>Type</th>
      <th class="text-success">Win</th>
      <th class="text-warning">Draw</th>
      <th class="text-danger">Loss</th>
    </tr>
    <tbody ng-repeat="(name, f) in stats.active.opponent.faction">
      <tr class="clickable"
          ng-click="stats.show.opponent.factions[name] = !stats.show.opponent.factions[name]">
        <td rowspan="4">{{factions[name].name}}</td>
        <td>Total</td>
        <td class="text-success">{{f.win.total}}</td>
        <td class="text-warning">{{f.draw.total}}</td>
        <td class="text-danger">{{f.loss.total}}</td>
      </tr>
      <tr ng-show="stats.show.opponent.factions[name]">
        <td>Assassination</td>
        <td class="text-success">{{f.win.assassination}}</td>
        <td class="text-warning">{{f.draw.assassination}}</td>
        <td class="text-danger">{{f.loss.assassination}}</td>
      </tr>
      <tr ng-show="stats.show.opponent.factions[name]">
        <td>Clock</td>
        <td class="text-success">{{f.win.clock}}</td>
        <td class="text-warning">{{f.draw.clock}}</td>
        <td class="text-danger">{{f.loss.clock}}</td>
      </tr>
      <tr ng-show="stats.show.opponent.factions[name]">
        <td>Scenario</td>
        <td class="text-success">{{f.win.scenario}}</td>
        <td class="text-warning">{{f.draw.scenario}}</td>
        <td class="text-danger">{{f.loss.scenario}}</td>
      </tr>
    </tbody>
  </table>
  <legend class="clickable"
          ng-click="stats.show.opponent.caster = !stats.show.opponent.caster">
    Opponent Caster
  </legend>
  <table class="table"
         ng-show="stats.show.opponent.caster">
    <tr>
      <th>Caster</th>
      <th>Type</th>
      <th class="text-success">Win</th>
      <th class="text-warning">Draw</th>
      <th class="text-danger">Loss</th>
    </tr>
    <tbody ng-repeat="(name, c) in stats.active.opponent.caster">
      <tr class="clickable"
          ng-click="stats.show.opponent.factions[name] = !stats.show.opponent.factions[name]">
        <td rowspan="4">
          {{factions[c.faction].casters[name].name}}
          ({{name | capitalise}})
        </td>
        <td>Total</td>
        <td class="text-success">{{c.win.total}}</td>
        <td class="text-warning">{{c.draw.total}}</td>
        <td class="text-danger">{{c.loss.total}}</td>
      </tr>
      <tr ng-show="stats.show.opponent.factions[name]">
        <td>Assassination</td>
        <td class="text-success">{{c.win.assassination}}</td>
        <td class="text-warning">{{c.draw.assassination}}</td>
        <td class="text-danger">{{c.loss.assassination}}</td>
      </tr>
      <tr ng-show="stats.show.opponent.factions[name]">
        <td>Clock</td>
        <td class="text-success">{{c.win.clock}}</td>
        <td class="text-warning">{{c.draw.clock}}</td>
        <td class="text-danger">{{c.loss.clock}}</td>
      </tr>
      <tr ng-show="stats.show.opponent.factions[name]">
        <td>Scenario</td>
        <td class="text-success">{{c.win.scenario}}</td>
        <td class="text-warning">{{c.draw.scenario}}</td>
        <td class="text-danger">{{c.loss.scenario}}</td>
      </tr>
    </tbody>
  </table>
  <legend class="clickable"
          ng-click="stats.show.scenario = !stats.show.scenario">
    Scenario
  </legend>
  <table class="table"
         ng-show="stats.show.scenario">
    <tr>
      <th>Scenario</th>
      <th>Type</th>
      <th class="text-success">Win</th>
      <th class="text-warning">Draw</th>
      <th class="text-danger">Loss</th>
    </tr>
    <tbody ng-repeat="(name, s) in stats.active.scenario">
      <tr class="clickable"
          ng-click="stats.show.scenarios[name] = !stats.show.scenarios[name]">
        <td rowspan="4">{{scenarios[name].name}}</td>
        <td>Total</td>
        <td class="text-success">{{s.win.total}}</td>
        <td class="text-warning">{{s.draw.total}}</td>
        <td class="text-danger">{{s.loss.total}}</td>
      </tr>
      <tr ng-show="stats.show.scenarios[name]">
        <td>Assassination</td>
        <td class="text-success">{{s.win.assassination}}</td>
        <td class="text-warning">{{s.draw.assassination}}</td>
        <td class="text-danger">{{s.loss.assassination}}</td>
      </tr>
      <tr ng-show="stats.show.scenarios[name]">
        <td>Clock</td>
        <td class="text-success">{{s.win.clock}}</td>
        <td class="text-warning">{{s.draw.clock}}</td>
        <td class="text-danger">{{s.loss.clock}}</td>
      </tr>
      <tr ng-show="stats.show.scenarios[name]">
        <td>Scenario</td>
        <td class="text-success">{{s.win.scenario}}</td>
        <td class="text-warning">{{s.draw.scenario}}</td>
        <td class="text-danger">{{s.loss.scenario}}</td>
      </tr>
    </tbody>
  </table>
  <legend class="clickable"
          ng-click="stats.show.event = !stats.show.event">
    Event
  </legend>
  <table class="table"
         ng-show="stats.show.event">
    <tr>
      <th>Event</th>
      <th>Type</th>
      <th class="text-success">Win</th>
      <th class="text-warning">Draw</th>
      <th class="text-danger">Loss</th>
    </tr>
    <tbody ng-repeat="(name, e) in stats.active.event">
      <tr class="clickable"
          ng-click="stats.show.events[name] = !stats.show.events[name]">
        <td rowspan="4">{{name | capitalise}}</td>
        <td>Total</td>
        <td class="text-success">{{e.win.total}}</td>
        <td class="text-warning">{{e.draw.total}}</td>
        <td class="text-danger">{{e.loss.total}}</td>
      </tr>
      <tr ng-show="stats.show.events[name]">
        <td>Assassination</td>
        <td class="text-success">{{e.win.assassination}}</td>
        <td class="text-warning">{{e.draw.assassination}}</td>
        <td class="text-danger">{{e.loss.assassination}}</td>
      </tr>
      <tr ng-show="stats.show.events[name]">
        <td>Clock</td>
        <td class="text-success">{{e.win.clock}}</td>
        <td class="text-warning">{{e.draw.clock}}</td>
        <td class="text-danger">{{e.loss.clock}}</td>
      </tr>
      <tr ng-show="stats.show.events[name]">
        <td>Scenario</td>
        <td class="text-success">{{e.win.scenario}}</td>
        <td class="text-warning">{{e.draw.scenario}}</td>
        <td class="text-danger">{{e.loss.scenario}}</td>
      </tr>
    </tbody>
  </table>
</div>
