<div class="container"
     id="backup">
  <ul class="nav nav-tabs"
      ng-init="panel='file'">
    <li ng-class="{ 'active': panel==='file' }">
      <a ng-click="panel='file'">File</a>
    </li>
    <li ng-class="{ 'active': panel==='online' }">
      <a ng-click="panel='online'">Online</a>
    </li>
    <li ng-class="{ 'active': panel==='ig' }">
      <a ng-click="panel='ig'">IronGrudge</a>
    </li>
    <li ng-class="{ 'active': panel==='debug' }">
      <a ng-click="panel='debug'">Debug</a>
    </li>
  </ul>
  <div ng-show="panel==='file'"
       ng-include="'partials/backup/file.html'">
  </div>
  <div ng-show="panel==='online'"
       ng-include="'partials/backup/online.html'">
  </div>
  <div ng-show="panel==='ig'"
       ng-include="'partials/backup/ig.html'">
  </div>
  <div ng-show="panel==='debug'"
       ng-include="'partials/backup/debug.html'">
  </div>
</div>
