<div class="container"
     id="backup">
  <div class="row">
    <div class="col-xs-12 section">
      <label>Import</label>
    </div>
    <div class="col-xs-12">
      <label>Choose a backup file :</label>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-6"
         style="overflow:hidden">
      <input id="import-file"
             type="file"
             ea-file="doReadBackupFile(file)" />
    </div>
    <div class="col-xs-6"
         style="
         max-height:100px;
         overflow-y:auto;
         ">
      <div class="text-warning"
           ng-repeat="e in read_result">
        {{::e}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 section">
      <label>Export</label>
    </div>
    <div class="col-xs-4">
      <label>Download the backup file</label>
    </div>
    <div class="col-xs-8">
      <a ng-show="backup.url"
         ng-href="{{backup.url}}"
         download="{{backup.name}}">
        {{backup.name}}
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 section">
      <label>Upload</label>
    </div>
    <div class="col-xs-6">
      <button class="btn btn-default"
              ng-click="doUploadData()">
        Upload To Server
        <span class="glyphicon glyphicon-cloud-upload"></span>
      </button>
    </div>
    <div class="col-xs-6 result">
      <strong class="text-{{upload.id === null ? 'warning' : 'success'}}">
        {{upload.msg | capitalise }}
      </strong>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12"
         ng-hide="upload.id !== null">
      You can temporarily upload your data to the web server.
      This will generate an Id that you can use in the download section
      on another device to synchronize your data.
      The generated Id and the uploaded data are not permanent and
      will be cleared after a given period of time.
    </div>
    <div class="col-xs-12"
         ng-show="upload.id !== null">
      <label>Id : </label>
      <span>{{upload.id}}</span><br/>
      Use this ID on your other device, in the download input below.
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 section">
      <label>Download</label>
    </div>
    <div class="col-xs-12"
         ng-hide="upload.id !== null">
      Enter bellow the ID given to you after uploading from another device.
    </div>
    <div class="col-xs-6">
      <div class="input-group">
        <input type="text"
               class="form-control"
               ng-model="download.id"
               placeholder="Id..." />
        <span class="input-group-btn">
          <button style="min-width:30px" class="btn btn-default"
                  ng-click="doDownloadData()">
            <span class="glyphicon glyphicon-cloud-download"></span>
          </button>
        </span>
      </div>
    </div>
    <div class="col-xs-6 result">
      <strong class="text-warning">
        {{download.msg | capitalise}}
      </strong>
    </div>
  </div>
  <!-- <div class="row">
  <div class="col-xs-12 section">
  <label>Debug</label>
  </div>
  <div class="col-xs-6">
  <button class="btn btn-default"
  ng-click="onClearStorage()">
  Clear Local Storage
  </button>
  </div>
  <div class="clearfix"></div>
  <div class="col-xs-12">
  This will clear all data stored in memory.
  You can then reload the data from a backup file to restart in a clean state.
  </div>
  </div> -->
</div>
