<div>
  <button class="btn btn-default"
          ng-click="bottom_bar.onAddBattle()">
    <span class="glyphicon glyphicon-plus"></span>
    <span class="lbl">Add Battle</span>
  </button>
  <button class="btn btn-default dropup">
    <span class="glyphicon glyphicon-filter"></span>
    <span class="lbl">Filter</span>
    <span class="caret"></span>
  </button>
  <button class="btn btn-default dropup">
    <span class="glyphicon glyphicon-check"></span>
    <span class="lbl">Selection</span>
    <span class="caret"></span>
  </button>
  <button class="btn btn-default dropup">
    <span class="glyphicon glyphicon-export"></span>
    <span class="lbl">Export</span>
    <span class="caret"></span>
  </button>
  <button class="btn btn-default dropup sort">
    <span class="glyphicon glyphicon-sort"></span>
  </button>
</div>
