<div>
  <button class="btn btn-default"
          ng-click="bottom_bar.onEditBattle()">
    <span class="glyphicon glyphicon-edit"></span>
    <span class="lbl">Edit</span>
  </button>
  <button class="btn btn-default"
          ng-click="bottom_bar.onDeleteBattle()">
    <span class="glyphicon glyphicon-trash"></span>
    <span class="lbl">Delete</span>
  </button>
  <button class="btn btn-default"
          ng-click="bottom_bar.onClose()">
    <span class="glyphicon glyphicon-remove"></span>
    <span class="lbl">Close</span>
  </button>
</div>
