<div class="container"
     id="battle-view">
  <div class="row">
    <div class="col-xs-12 section">
      <label>My army</label>
    </div>
    <div class="col-xs-2">
      <img class="faction-icon"
           alt="{{::battle.my_army.faction}}"
           ng-src="{{::factions | factions:'iconFor':battle.my_army.faction}}" />
    </div>
    <div class="col-xs-10">
      <div class="row">
        <div class="col-xs-3">
          <em>Faction:</em>
        </div>
        <div class="col-xs-9">
          {{::factions | factions:'nameFor':battle.my_army.faction}}
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-3">
          <em>Caster:</em>
        </div>
        <div class="col-xs-9">
          {{::factions | factions:'casterNameFor':battle.my_army.faction:battle.my_army.caster}}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 section">
      <label>Opponent</label>
    </div>
    <div class="col-xs-2">
      <img class="faction-icon"
           alt="{{::battle.opponent.faction}}"
           ng-src="{{::factions | factions:'iconFor':battle.opponent.faction}}" />
    </div>
    <div class="col-xs-10">
      <div class="row">
        <div class="col-xs-3">
          <em>Name:</em>
        </div>
        <div class="col-xs-9">
          {{::battle.opponent.name | capitalise}}
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-3">
          <em>Faction:</em>
        </div>
        <div class="col-xs-9">
          {{::factions | factions:'nameFor':battle.opponent.faction}}
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-3">
          <em>Caster:</em>
        </div>
        <div class="col-xs-9">
          {{::factions | factions:'casterNameFor':battle.opponent.faction:battle.opponent.caster}}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 section">
      <label>Settings</label>
    </div>
    <div class="col-xs-3"><em>Date:</em></div>
    <div class="col-xs-9">
      {{::battle.date.year+'/'+battle.date.month+'/'+battle.date.day}}
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-3"><em>Event:</em></div>
    <div class="col-xs-9">
      {{::battle.setup.event}}
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-3"><em>Scenario:</em></div>
    <div class="col-xs-9">
      {{::battles.scenarios | scenarios:'nameFor':battle.setup.scenario}}
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-3"><em>Size:</em></div>
    <div class="col-xs-9">
      {{::battle.setup.size}}
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-3"><em>Initiative:</em></div>
    <div class="col-xs-9">
      <!-- {{::'true' === battle.setup.initiative.won_roll ? 'Won Roll' : 'Lost Roll'}}
      -
      {{::'true' === battle.setup.initiative.started ? 'Started Game' : 'Chose Side'}} -->
      {{:: battle | battle:'initRollDescFor'}} -
      {{:: battle | battle:'initStartDescFor'}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 section">
      <div class="row">
        <div class="col-xs-5">
          <label>Game Result</label>
        </div>
        <div class="col-xs-7">
          <strong  class="text-{{::scores | scores:'classFor':battle.score}}">
            {{::scores | scores:'typeFor':battle.score | capitalise}}
            {{::scores | scores:'resultFor':battle.score | capitalise}}
          </strong>
        </div>
      </div>
    </div>
    <div class="col-xs-2"></div>
    <div class="col-xs-5"><em>My Army</em></div>
    <div class="col-xs-5"><em>Opponent</em></div>
    <div class="clearfix"></div>
    <div class="col-xs-2"><em>Control</em></div>
    <div class="col-xs-5">
      {{::battle.points.my_army.scenario}}
    </div>
    <div class="col-xs-5">
      {{::battle.points.opponent.scenario}}
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-2"><em>Army</em></div>
    <div class="col-xs-5">
      {{::battle.points.my_army.army}}
    </div>
    <div class="col-xs-5">
      {{::battle.points.opponent.army}}
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-2"><em>Kill</em></div>
    <div class="col-xs-5">
      {{::battle.points.my_army.kill}}
    </div>
    <div class="col-xs-5">
      {{::battle.points.opponent.kill}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 section">
      <label>Tags</label>
    </div>
    <div class="col-xs-12">
      <ul>
        <li ng-repeat="t in ::battle.tags">{{::t}}</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 section">
      <label>Comment</label>
    </div>
    <div class="col-xs-12">
      {{::battle.comment}}
    </div>
  </div>
</div>
