<div>
  <button class="btn btn-default"
          ng-click="doEditBattle()">
    <div class="icon-sprite icon-edit"></div>
    <span class="lbl">Edit</span>
  </button>
  <button class="btn btn-default"
          ng-click="doDeleteBattle()">
    <div class="icon-sprite icon-delete"></div>
    <span class="lbl">Delete</span>
  </button>
  <button class="btn btn-default"
          ng-click="doClose()">
    <div class="icon-sprite icon-close"></div>
    <span class="lbl">Close</span>
  </button>
</div>
