<div>
  <button class="btn btn-default"
          ng-click="doAddBattle()">
    <span class="glyphicon glyphicon-plus"></span>
    <span class="lbl">Add Battle</span>
  </button>
  <div id="drop-list-filter"
       class="btn-group dropup">
    <button class="btn"
            ng-class="{
            'btn-default': !battles.filter.active,
            'btn-success': battles.filter.active && !battles.filter.invert,
            'btn-primary': battles.filter.active && battles.filter.invert
            }"
            open-dropdown="drop-list-filter">
      <span class="glyphicon glyphicon-filter"></span>
      <span class="lbl">Filter</span>
    </button>
    <ul class="dropdown-menu text-left">
      <li class="dropdown-header">Filter</li>
      <li>
        <a href="#/filter">
          <span class="glyphicon glyphicon-edit"></span>
          Edit
        </a>
      </li>
      <li class="divider"></li>
      <li ng-show="
          battles.filter.active &&
          !battles.filter.invert
          ">
        <a ng-click="doToggleFilterInvert()">
          <span class="glyphicon glyphicon-random"></span>
          Invert
        </a>
      </li>
      <li ng-show="
          battles.filter.active &&
          battles.filter.invert
          ">
        <a ng-click="doToggleFilterInvert()">
          <span class="glyphicon glyphicon-refresh"></span>
          Restore
        </a>
      </li>
      <li ng-hide="battles.filter.active">
        <a ng-click="doToggleFilterActive()">
          <span class="glyphicon glyphicon-ok-circle"></span>
          Enable
        </a>
      </li>
      <li ng-show="battles.filter.active">
        <a ng-click="doToggleFilterActive()">
          <span class="glyphicon glyphicon-ban-circle"></span>
          Disable
        </a>
      </li>
    </ul>
  </div>
  <!-- <button class="btn btn-default dropup">
  <span class="glyphicon glyphicon-check"></span>
  <span class="lbl">Selection</span>
  <span class="caret"></span>
  </button> -->
  <div id="drop-list-sort"
       class="btn-group dropup sort">
    <button class="btn btn-default"
            open-dropdown="drop-list-sort">
      <span class="glyphicon glyphicon-sort"></span>
      <span class="lbl">Sort By</span>
    </button>
    <ul class="dropdown-menu">
      <li class="dropdown-header">Sort By</li>
      <li ng-repeat="(key, type) in sort_types">
        <a ng-click="doSortBy(key)">
          <span class="glyphicon"
                ng-class="{
                'glyphicon-collapse-down': (battles.sort.type === key) && !battles.sort.reverse,
                'glyphicon-collapse-up': (battles.sort.type === key) && battles.sort.reverse
                }">
          </span>
          {{type.name}}
        </a>
      </li>
    </ul>
  </div>
  <!-- <div class="btn-group dropup"
  ng-class="{ 'open': drop_down.active('battle_list_export') }">
  <button class="btn btn-default dropup"
  ng-click="onExportOpen($event)">
  <span class="glyphicon glyphicon-export"></span>
  <span class="lbl">Export</span>
  <span class="caret"></span>
  </button>
  <ul class="dropdown-menu text-left">
  <li class="dropdown-header">Export to</li>
  <li>
  <a ng-href="{{export.json_url}}"
  download="{{export.name}}_json.txt">
  JSON
  </a>
  </li>
  <li>
  <a ng-href="{{export.csv_url}}"
  download="{{export.name}}_csv.txt">
  CSV
  </a>
  </li>
  <li>
  <a ng-href="{{export.bb_url}}"
  download="{{export.name}}_bb.txt">
  BB code
  </a>
  </li>
  </ul>
  </div> -->
</div>
