<div class="container"
     id="filter-edit">
  <form class="form-horizontal"
        name="filter_edit"
        novalidate>
    <div class="form-group title">
      <div class="col-xs-12">
        <span class="glyphicon glyphicon-edit"></span>
        Edit Filter
      </div>
    </div>
    <div class="form-group first">
      <div class="col-xs-12 header clickable"
           ng-click="battles.filter.state.date.active=!battles.filter.state.date.active"
           ng-class="{
           'active': battles.filter.state.date.active
           }">
        <span class="glyphicon check"
              ng-class="{
              'glyphicon-check':battles.filter.state.date.active,
              'glyphicon-unchecked':!battles.filter.state.date.active
              }"></span>
        <label class="control-label">
          Date
        </label>
      </div>
      <div class="col-xs-12 container"
           ng-show="battles.filter.state.date.active">
        <div class="col-xs-3 is">
          <select class="form-control"
                  ng-model="battles.filter.state.date.is">
            <option value="==">==</option>
            <option value="!=">!=</option>
            <option value="&gt;">&gt;</option>
            <option value="&gt;=">&gt;=</option>
            <option value="<">&lt;</option>
            <option value="<=">&lt;=</option>
          </select>
        </div>
        <div class="col-xs-9">
          <input type="number"
                 class="form-control input-sm"
                 style="display:inline-block;width:40%;max-width:6em;"
                 ng-model="battles.filter.state.date.value.year" />
          <input type="number"
                 class="form-control input-sm"
                 style="display:inline-block;width:40%;max-width:6em;"
                 ng-model="battles.filter.state.date.value.month" />
          <input type="number"
                 class="form-control input-sm"
                 style="display:inline-block;width:40%;max-width:6em;"
                 ng-model="battles.filter.state.date.value.day" />
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12 header clickable"
           ng-click="battles.filter.state.my_army.active=!battles.filter.state.my_army.active"
           ng-class="{
           'active': battles.filter.state.my_army.active
           }">
        <span class="glyphicon check"
              ng-class="{
              'glyphicon-check':battles.filter.state.my_army.active,
              'glyphicon-unchecked':!battles.filter.state.my_army.active
              }"></span>
        <label class="control-label">
          My caster
        </label>
      </div>
      <div class="col-xs-12 container"
           ng-show="battles.filter.state.my_army.active">
        <div class="col-xs-3 is">
          <select class="form-control"
                  ng-model="battles.filter.state.my_army.is">
            <option value="true" selected="selected">is</option>
            <option value="false">is not</option>
          </select>
        </div>
        <div class="col-xs-9">
          <select class="form-control"
                  ng-model="battles.filter.state.my_army.value.faction"
                  ng-options="f.key as f.name for f in factions">
          </select>
        </div>
        <div class="col-xs-3"></div>
        <div class="col-xs-9">
          <select class="form-control multiple"
                  ng-model="battles.filter.state.my_army.value.caster"
                  ng-options="
                  c.key as c.key|capitalise
                  for c in factions | factions:'castersFor':battles.filter.state.my_army.value.faction"
                  multiple>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12 header clickable"
           ng-click="battles.filter.state.opp_name.active = !battles.filter.state.opp_name.active"
           ng-class="{
           'active': battles.filter.state.opp_name.active
           }">
        <span class="glyphicon check"
              ng-class="{
              'glyphicon-check': battles.filter.state.opp_name.active,
              'glyphicon-unchecked': !battles.filter.state.opp_name.active
              }"></span>
        <label class="control-label">
          Opponent
        </label>
      </div>
      <div class="col-xs-12 container"
           ng-show="battles.filter.state.opp_name.active">
        <div class="col-xs-3 is">
          <select class="form-control"
                  ng-model="battles.filter.state.opp_name.is">
            <option value="true">is</option>
            <option value="false">is not</option>
          </select>
        </div>
        <div class="col-xs-9">
          <select class="form-control multiple"
                  ng-model="battles.filter.state.opp_name.value"
                  ng-options="o as o | capitalise for o in battles.opponents"
                  multiple>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12 header clickable"
           ng-click="battles.filter.state.opp_caster.active=!battles.filter.state.opp_caster.active"
           ng-class="{
           'active': battles.filter.state.opp_caster.active
           }">
        <span class="glyphicon check"
              ng-class="{
              'glyphicon-check':battles.filter.state.opp_caster.active,
              'glyphicon-unchecked':!battles.filter.state.opp_caster.active
              }"></span>
        <label class="control-label">
          Opponent Caster
        </label>
      </div>
      <div class="col-xs-12 container"
           ng-show="battles.filter.state.opp_caster.active">
        <div class="col-xs-3 is">
          <select class="form-control"
                  ng-model="battles.filter.state.opp_caster.is">
            <option value="true" selected="selected">is</option>
            <option value="false">is not</option>
          </select>
        </div>
        <div class="col-xs-9">
          <select class="form-control"
                  ng-model="battles.filter.state.opp_caster.value.faction"
                  ng-options="f.key as f.name for f in factions">
          </select>
        </div>
        <div class="col-xs-3">
        </div>
        <div class="col-xs-9">
          <select class="form-control multiple"
                  ng-model="battles.filter.state.opp_caster.value.caster"
                  ng-options="
                  c.key as c.key|capitalise
                  for c in factions
                  | factions:'castersFor':battles.filter.state.opp_caster.value.faction"
                  multiple>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12 header clickable"
           ng-click="battles.filter.state.result.active=!battles.filter.state.result.active"
           ng-class="{
           'active': battles.filter.state.result.active
           }">
        <span class="glyphicon check"
              ng-class="{
              'glyphicon-check':battles.filter.state.result.active,
              'glyphicon-unchecked':!battles.filter.state.result.active
              }"></span>
        <label class="control-label">
          Result
        </label>
      </div>
      <div class="col-xs-12 container"
           ng-show="battles.filter.state.result.active">
        <div class="col-xs-3 is">
          <select class="form-control"
                  ng-model="battles.filter.state.result.is">
            <option value="true">is</option>
            <option value="false">is not</option>
          </select>
        </div>
        <div class="col-xs-9">
          <select class="form-control multiple"
                  ng-model="battles.filter.state.result.value"
                  ng-options="
                  id as s.type | capitalise
                  group by s.result | capitalise
                  for (id, s) in scores
                  "
                  multiple>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12 header clickable"
           ng-click="battles.filter.state.scenario.active=!battles.filter.state.scenario.active"
           ng-class="{
           'active': battles.filter.state.scenario.active
           }">
        <span class="glyphicon check"
              ng-class="{
              'glyphicon-check':battles.filter.state.scenario.active,
              'glyphicon-unchecked':!battles.filter.state.scenario.active
              }"></span>
        <label class="control-label">
          Scenario
        </label>
      </div>
      <div class="col-xs-12 container"
           ng-show="battles.filter.state.scenario.active">
        <div class="col-xs-3 is">
          <select class="form-control"
                  ng-model="battles.filter.state.scenario.is">
            <option value="true">is</option>
            <option value="false">is not</option>
          </select>
        </div>
        <div class="col-xs-9">
          <select class="form-control multiple"
                  ng-model="battles.filter.state.scenario.name"
                  ng-options="
                  s.key as s.name
                  for s in battles.scenarios | orderBy:'-key'
                  "
                  multiple>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12 header clickable"
           ng-click="battles.filter.state.size.active=!battles.filter.state.size.active"
           ng-class="{
           'active': battles.filter.state.size.active
           }">
        <span class="glyphicon check"
              ng-class="{
              'glyphicon-check':battles.filter.state.size.active,
              'glyphicon-unchecked':!battles.filter.state.size.active
              }"></span>
        <label class="control-label">
          Size
        </label>
      </div>
      <div class="col-xs-12 container"
           ng-show="battles.filter.state.size.active">
        <div class="col-xs-3 is">
          <select class="form-control"
                  ng-model="battles.filter.state.size.is">
            <option value="==">==</option>
            <option value="!=">!=</option>
            <option value="&gt;">&gt;</option>
            <option value="&gt;=">&gt;=</option>
            <option value="<">&lt;</option>
            <option value="<=">&lt;=</option>
          </select>
        </div>
        <div class="col-xs-9">
          <input type="number"
                 class="form-control filter-input-3"
                 style="max-width:6em"
                 ng-model="battles.filter.state.size.value" />
        </div>
      </div>
    </div>
    <div class="form-group"> 
      <div class="col-xs-12 header clickable"
           ng-click="battles.filter.state.event.active=!battles.filter.state.event.active"
           ng-class="{
           'active': battles.filter.state.event.active
           }">
        <span class="glyphicon check"
              ng-class="{
              'glyphicon-check':battles.filter.state.event.active,
              'glyphicon-unchecked':!battles.filter.state.event.active
              }"></span>
        <label class="control-label">
          Event
        </label>
      </div>
      <div class="col-xs-12 container"
           ng-show="battles.filter.state.event.active">
        <div class="col-xs-3 is">
          <select class="form-control"
                  ng-model="battles.filter.state.event.is">
            <option value="true">is</option>
            <option value="false">is not</option>
          </select>
        </div>
        <div class="col-xs-9">
          <select class="form-control multiple"
                  ng-model="battles.filter.state.event.value"
                  ng-options="e for e in battles.events"
                  multiple>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12 header clickable"
           ng-click="battles.filter.state.initiative.active=!battles.filter.state.initiative.active"
           ng-class="{
           'active': battles.filter.state.initiative.active
           }">
        <span class="glyphicon check"
              ng-class="{
              'glyphicon-check':battles.filter.state.initiative.active,
              'glyphicon-unchecked':!battles.filter.state.initiative.active
              }"></span>
        <label class="control-label">
          Initiative
        </label>
      </div>
      <div class="col-xs-12 container"
           ng-show="battles.filter.state.initiative.active">
        <div class="col-xs-3 is">
          <select class="form-control"
                  ng-model="battles.filter.state.initiative.is">
            <option value="true">is</option>
            <option value="false">is not</option>
          </select>
        </div>
        <div class="col-xs-4"
             style="padding-right:5px">
          <select class="form-control"
                  ng-model="battles.filter.state.initiative.value.won_roll">
            <option selected value=""></option>
            <option selected value="true">Won roll</option>
            <option selected value="false">Lost roll</option>
          </select>
        </div>
        <div class="col-xs-5"
             style="padding-right:5px">
          <select class="form-control"
                  ng-model="battles.filter.state.initiative.value.started">
            <option selected value=""></option>
            <option selected value="true">started game</option>
            <option selected value="false">chose side</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12 header clickable"
           ng-click="battles.filter.state.tags.active=!battles.filter.state.tags.active"
           ng-class="{
           'active': battles.filter.state.tags.active
           }">
        <span class="glyphicon check"
              ng-class="{
              'glyphicon-check':battles.filter.state.tags.active,
              'glyphicon-unchecked':!battles.filter.state.tags.active
              }"></span>
        <label class="control-label">
          Tags
        </label>
      </div>
      <div class="col-xs-12 container"
           ng-show="battles.filter.state.tags.active">
        <div class="col-xs-5 is">
          <select class="form-control"
                  ng-model="battles.filter.state.tags.is">
            <option value="any">include any of</option>
            <option value="all">include all of</option>
            <option value="not_all">do not include all of</option>
            <option value="none">include none of</option>
          </select>
        </div>
        <div class="col-xs-7">
          <select class="form-control multiple"
                  ng-model="battles.filter.state.tags.value"
                  ng-options="t for t in battles.tags"
                  multiple>
          </select>
        </div>
      </div>
    </div>
  </form>
</div>
