<div class="container"
     id="filter-edit">
  <form class="form-horizontal"
        name="filter_edit"
        novalidate>
    <div class="form-group title">
      <div class="col-xs-12">
        <span class="glyphicon glyphicon-edit"></span>
        Edit Filter
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12 header"
           ng-click="filter.date.active=!filter.date.active"
           ng-class="{ 'active': filter.date.active }">
        <span class="glyphicon check"
              ng-class="{'glyphicon-check':filter.date.active,'glyphicon-unchecked':!filter.date.active}"></span>
        <label class="control-label">
          Date
        </label>
      </div>
      <div class="col-xs-12 container"
           ng-show="filter.date.active">
        <div class="col-xs-3 is">
          <select class="form-control"
                  ng-model="filter.date.is">
            <option value="0">==</option>
            <option value="1">!=</option>
            <option value="2">&gt;</option>
            <option value="3">&gt;=</option>
            <option value="4">&lt;</option>
            <option value="5">&lt;=</option>
          </select>
        </div>
        <div class="col-xs-9">
          <input type="number"
                 class="form-control input-sm"
                 style="display:inline-block;width:40%;max-width:6em;"
                 ng-model="filter.date.year" />
          <input type="number"
                 class="form-control input-sm"
                 style="display:inline-block;width:40%;max-width:6em;"
                 ng-model="filter.date.month" />
          <input type="number"
                 class="form-control input-sm"
                 style="display:inline-block;width:40%;max-width:6em;"
                 ng-model="filter.date.day" />
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12 header"
           ng-click="filter.my_army.active=!filter.my_army.active"
           ng-class="{ 'active': filter.my_army.active }">
        <span class="glyphicon check"
              ng-class="{'glyphicon-check':filter.my_army.active,'glyphicon-unchecked':!filter.my_army.active}"></span>
        <label class="control-label">
          My caster
        </label>
      </div>
      <div class="col-xs-12 container"
           ng-show="filter.my_army.active">
        <div class="col-xs-3 is">
          <select class="form-control"
                  ng-model="filter.my_army.is">
            <option value="true" selected="selected">is</option>
            <option value="false">is not</option>
          </select>
        </div>
        <div class="col-xs-9">
          <select class="form-control"
                  ng-model="filter.my_army.faction"
                  ng-options="id as f.name for (id, f) in factions">
          </select>
        </div>
        <div class="col-xs-3"></div>
        <div class="col-xs-9">
          <select class="form-control multiple"
                  ng-model="filter.my_army.caster"
                  ng-options="id as id | capitalise for (id, c) in factions[filter.my_army.faction].casters"
                  multiple>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12 header"
           ng-click="filter.opp_name.active=!filter.opp_name.active"
           ng-class="{ 'active': filter.opp_name.active }">
        <span class="glyphicon check"
              ng-class="{'glyphicon-check':filter.opp_name.active,'glyphicon-unchecked':!filter.opp_name.active}"></span>
        <label class="control-label">
          Opponent
        </label>
      </div>
      <div class="col-xs-12 container"
           ng-show="filter.opp_name.active">
        <div class="col-xs-3 is">
          <select class="form-control"
                  ng-model="filter.opp_name.is">
            <option value="true">is</option>
            <option value="false">is not</option>
          </select>
        </div>
        <div class="col-xs-9">
          <select class="form-control multiple"
                  ng-model="filter.opp_name.value"
                  ng-options="o as o|capitalise for o in opponents"
                  multiple>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12 header"
           ng-click="filter.opp_caster.active=!filter.opp_caster.active"
           ng-class="{ 'active': filter.opp_caster.active }">
        <span class="glyphicon check"
              ng-class="{'glyphicon-check':filter.opp_caster.active,'glyphicon-unchecked':!filter.opp_caster.active}"></span>
        <label class="control-label">
          Opponent Caster
        </label>
      </div>
      <div class="col-xs-12 container"
           ng-show="filter.opp_caster.active">
        <div class="col-xs-3 is">
          <select class="form-control"
                  ng-model="filter.opp_caster.is">
            <option value="true" selected="selected">is</option>
            <option value="false">is not</option>
          </select>
        </div>
        <div class="col-xs-9">
          <select class="form-control"
                  ng-model="filter.opp_caster.faction"
                  ng-options="id as f.name for (id, f) in factions">
          </select>
        </div>
        <div class="col-xs-3">
        </div>
        <div class="col-xs-9">
          <select class="form-control multiple"
                  ng-model="filter.opp_caster.caster"
                  ng-options="id as id | capitalise for (id, c) in factions[filter.opp_caster.faction].casters"
                  multiple>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12 header"
           ng-click="filter.result.active=!filter.result.active"
           ng-class="{ 'active': filter.result.active }">
        <span class="glyphicon check"
              ng-class="{'glyphicon-check':filter.result.active,'glyphicon-unchecked':!filter.result.active}"></span>
        <label class="control-label">
          Result
        </label>
      </div>
      <div class="col-xs-12 container"
           ng-show="filter.result.active">
        <div class="col-xs-3 is">
          <select class="form-control"
                  ng-model="filter.result.is">
            <option value="true">is</option>
            <option value="false">is not</option>
          </select>
        </div>
        <div class="col-xs-9">
          <select class="form-control multiple"
                  ng-model="filter.result.value"
                  ng-options="id as s.type | capitalise group by s.result | capitalise for (id, s) in scores"
                  multiple>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12 header"
           ng-click="filter.scenario.active=!filter.scenario.active"
           ng-class="{ 'active': filter.scenario.active }">
        <span class="glyphicon check"
              ng-class="{'glyphicon-check':filter.scenario.active,'glyphicon-unchecked':!filter.scenario.active}"></span>
        <label class="control-label">
          Scenario
        </label>
      </div>
      <div class="col-xs-12 container"
           ng-show="filter.scenario.active">
        <div class="col-xs-3 is">
          <select class="form-control"
                  ng-model="filter.scenario.is">
            <option value="true">is</option>
            <option value="false">is not</option>
          </select>
        </div>
        <div class="col-xs-9">
          <select class="form-control multiple"
                  ng-model="filter.scenario.name"
                  ng-options="id as s.name for (id, s) in scenarios"
                  multiple>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12 header"
           ng-click="filter.size.active=!filter.size.active"
           ng-class="{ 'active': filter.size.active }">
        <span class="glyphicon check"
              ng-class="{'glyphicon-check':filter.size.active,'glyphicon-unchecked':!filter.size.active}"></span>
        <label class="control-label">
          Size
        </label>
      </div>
      <div class="col-xs-12 container"
           ng-show="filter.size.active">
        <div class="col-xs-3 is">
          <select class="form-control"
                  ng-model="filter.size.is">
            <option value="0">==</option>
            <option value="1">!=</option>
            <option value="2">&gt;</option>
            <option value="3">&gt;=</option>
            <option value="4">&lt;</option>
            <option value="5">&lt;=</option>
          </select>
        </div>
        <div class="col-xs-9">
          <input type="number"
                 class="form-control filter-input-3"
                 style="max-width:6em"
                 ng-model="filter.size.value" />
        </div>
      </div>
    </div>
    <div class="form-group"> 
      <div class="col-xs-12 header"
           ng-click="filter.event.active=!filter.event.active"
           ng-class="{ 'active': filter.event.active }">
        <span class="glyphicon check"
              ng-class="{'glyphicon-check':filter.event.active,'glyphicon-unchecked':!filter.event.active}"></span>
        <label class="control-label">
          Event
        </label>
      </div>
      <div class="col-xs-12 container"
           ng-show="filter.event.active">
        <div class="col-xs-3 is">
          <select class="form-control"
                  ng-model="filter.event.is">
            <option value="true">is</option>
            <option value="false">is not</option>
          </select>
        </div>
        <div class="col-xs-9">
          <select class="form-control multiple"
                  ng-model="filter.event.value"
                  ng-options="e for e in events"
                  multiple>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12 header"
           ng-click="filter.initiative.active=!filter.initiative.active"
           ng-class="{ 'active': filter.initiative.active }">
        <span class="glyphicon check"
              ng-class="{'glyphicon-check':filter.initiative.active,'glyphicon-unchecked':!filter.initiative.active}"></span>
        <label class="control-label">
          Initiative
        </label>
      </div>
      <div class="col-xs-12 container"
           ng-show="filter.initiative.active">
        <div class="col-xs-3 is">
          <select class="form-control"
                  ng-model="filter.initiative.is">
            <option value="true">is</option>
            <option value="false">is not</option>
          </select>
        </div>
        <div class="col-xs-4"
             style="padding-right:5px">
          <select class="form-control"
                  ng-model="filter.initiative.won_roll">
            <option selected value=""></option>
            <option selected value="true">Won roll</option>
            <option selected value="false">Lost roll</option>
          </select>
        </div>
        <div class="col-xs-5"
             style="padding-right:5px">
          <select class="form-control"
                  ng-model="filter.initiative.started">
            <option selected value=""></option>
            <option selected value="true">started game</option>
            <option selected value="false">chose side</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12 header"
           ng-click="filter.tags.active=!filter.tags.active"
           ng-class="{ 'active': filter.tags.active }">
        <span class="glyphicon check"
              ng-class="{'glyphicon-check':filter.tags.active,'glyphicon-unchecked':!filter.tags.active}"></span>
        <label class="control-label">
          Tags
        </label>
      </div>
      <div class="col-xs-12 container"
           ng-show="filter.tags.active">
        <div class="col-xs-5 is">
          <select class="form-control"
                  ng-model="filter.tags.is">
            <option value="any">include any of</option>
            <option value="all">include all of</option>
            <option value="not_all">do not include all of</option>
            <option value="none">include none of</option>
          </select>
        </div>
        <div class="col-xs-7">
          <select class="form-control multiple"
                  ng-model="filter.tags.value"
                  ng-options="t for t in tags"
                  multiple>
          </select>
        </div>
      </div>
    </div>
  </form>
</div>
