<div class="container"
     id="filter-edit">
  <form class="form-horizontal"
        name="filter_edit"
        novalidate>
    <div class="title">
      <div class="icon-sprite icon-edit"></div>
      Edit Filter
    </div>
    <div class="panel panel-default first">
      <div class="panel-heading"
           ng-click="battles.filter.state.date.active=!battles.filter.state.date.active"
           ng-class="{ 'active': battles.filter.state.date.active }">
        <div class="icon-sprite"
             ng-class="{ 'icon-checked':battles.filter.state.date.active,
                       'icon-unchecked':!battles.filter.state.date.active
                       }"></div>
        <h5 class="panel-title">Date</h5>
      </div>
      <div class="panel-body row"
           ng-show="battles.filter.state.date.active">
        <div class="col-xs-3 is">
          <select class="form-control"
                  ng-model="battles.filter.state.date.is">
            <option value="==">==</option>
            <option value="!=">!=</option>
            <option value="&gt;">&gt;</option>
            <option value="&gt;=">&gt;=</option>
            <option value="<">&lt;</option>
            <option value="<=">&lt;=</option>
          </select>
        </div>
        <div class="col-xs-9">
          <input type="number"
                 class="form-control"
                 style="display:inline-block;width:40%;max-width:6em;"
                 ng-model="battles.filter.state.date.value.year" />
          <input type="number"
                 class="form-control"
                 style="display:inline-block;width:40%;max-width:6em;"
                 ng-model="battles.filter.state.date.value.month" />
          <input type="number"
                 class="form-control"
                 style="display:inline-block;width:40%;max-width:6em;"
                 ng-model="battles.filter.state.date.value.day" />
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"
           ng-click="battles.filter.state.my_army.active=!battles.filter.state.my_army.active"
           ng-class="{
                     'active': battles.filter.state.my_army.active
                     }">
        <div class="icon-sprite"
              ng-class="{ 'icon-checked':battles.filter.state.my_army.active,
                        'icon-unchecked':!battles.filter.state.my_army.active
                        }"></div>
        <h5 class="panel-title">My caster</h5>
      </div>
      <div class="panel-body row"
           ng-show="battles.filter.state.my_army.active">
        <div class="col-xs-3 is">
          <select class="form-control"
                  ng-model="battles.filter.state.my_army.is">
            <option value="true" selected="selected">is</option>
            <option value="false">is not</option>
          </select>
        </div>
        <div class="col-xs-9">
          <select class="form-control"
                  ng-model="battles.filter.state.my_army.value.faction"
                  ng-options="f.key as f.name for f in factions">
            <option value=""
                    ng-if="!battles.filter.state.my_army.value.faction">Please select</option>
          </select>
        </div>
        <div class="col-xs-3"></div>
        <div class="col-xs-9">
          <select class="form-control multiple"
                  ng-model="battles.filter.state.my_army.value.caster"
                  ng-options="c.key as c.key|capitalise
                              for c in factions |
                              factions:'castersFor':battles.filter.state.my_army.value.faction
                              "
                  multiple>
          </select>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"
           ng-click="battles.filter.state.opp_name.active = !battles.filter.state.opp_name.active"
           ng-class="{
           'active': battles.filter.state.opp_name.active
           }">
        <div class="icon-sprite"
             ng-class="{ 'icon-checked': battles.filter.state.opp_name.active,
                       'icon-unchecked': !battles.filter.state.opp_name.active
                       }"></div>
        <h5 class="panel-title">Opponent</h5>
      </div>
      <div class="panel-body row"
           ng-show="battles.filter.state.opp_name.active">
        <div class="col-xs-3 is">
          <select class="form-control"
                  ng-model="battles.filter.state.opp_name.is">
            <option value="true">is</option>
            <option value="false">is not</option>
          </select>
        </div>
        <div class="col-xs-9">
          <select class="form-control multiple"
                  ng-model="battles.filter.state.opp_name.value"
                  ng-options="o as o | capitalise for o in battles.opponents"
                  multiple>
          </select>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"
           ng-click="battles.filter.state.opp_caster.active=!battles.filter.state.opp_caster.active"
           ng-class="{ 'active': battles.filter.state.opp_caster.active
                     }">
        <div class="icon-sprite"
              ng-class="{ 'icon-checked':battles.filter.state.opp_caster.active,
                        'icon-unchecked':!battles.filter.state.opp_caster.active
                        }"></div>
        <h5 class="panel-title">Opponent Caster</h5>
      </div>
      <div class="panel-body row"
           ng-show="battles.filter.state.opp_caster.active">
        <div class="col-xs-3 is">
          <select class="form-control"
                  ng-model="battles.filter.state.opp_caster.is">
            <option value="true" selected="selected">is</option>
            <option value="false">is not</option>
          </select>
        </div>
        <div class="col-xs-9">
          <select class="form-control"
                  ng-model="battles.filter.state.opp_caster.value.faction"
                  ng-options="f.key as f.name for f in factions">
            <option value=""
                    ng-if="!battles.filter.state.opp_caster.value.faction">Please select</option>
          </select>
        </div>
        <div class="col-xs-3">
        </div>
        <div class="col-xs-9">
          <select class="form-control multiple"
                  ng-model="battles.filter.state.opp_caster.value.caster"
                  ng-options="
                  c.key as c.key|capitalise
                  for c in factions
                  | factions:'castersFor':battles.filter.state.opp_caster.value.faction"
                  multiple>
          </select>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"
           ng-click="battles.filter.state.result.active=!battles.filter.state.result.active"
           ng-class="{
           'active': battles.filter.state.result.active
           }">
        <div class="icon-sprite"
              ng-class="{
              'icon-checked':battles.filter.state.result.active,
              'icon-unchecked':!battles.filter.state.result.active
              }"></div>
        <h5 class="panel-title">Result</h5>
      </div>
      <div class="panel-body row"
           ng-show="battles.filter.state.result.active">
        <div class="col-xs-3 is">
          <select class="form-control"
                  ng-model="battles.filter.state.result.is">
            <option value="true">is</option>
            <option value="false">is not</option>
          </select>
        </div>
        <div class="col-xs-9">
          <select class="form-control multiple"
                  ng-model="battles.filter.state.result.value"
                  ng-options="
                  id as s.type | capitalise
                  group by s.result | capitalise
                  for (id, s) in scores
                  "
                  multiple>
          </select>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"
           ng-click="battles.filter.state.scenario.active=!battles.filter.state.scenario.active"
           ng-class="{
           'active': battles.filter.state.scenario.active
           }">
        <div class="icon-sprite"
              ng-class="{
              'icon-checked':battles.filter.state.scenario.active,
              'icon-unchecked':!battles.filter.state.scenario.active
              }"></div>
        <h5 class="panel-title">Scenario</h5>
      </div>
      <div class="panel-body row"
           ng-show="battles.filter.state.scenario.active">
        <div class="col-xs-3 is">
          <select class="form-control"
                  ng-model="battles.filter.state.scenario.is">
            <option value="true">is</option>
            <option value="false">is not</option>
          </select>
        </div>
        <div class="col-xs-9">
          <select class="form-control multiple"
                  ng-model="battles.filter.state.scenario.value"
                  ng-options="
                  s.key as s.name
                  for s in battles.scenarios
                  "
                  multiple>
          </select>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"
           ng-click="battles.filter.state.size.active=!battles.filter.state.size.active"
           ng-class="{
           'active': battles.filter.state.size.active
           }">
        <div class="icon-sprite"
              ng-class="{
              'icon-checked':battles.filter.state.size.active,
              'icon-unchecked':!battles.filter.state.size.active
              }"></div>
        <h5 class="panel-title">Size</h5>
      </div>
      <div class="panel-body row"
           ng-show="battles.filter.state.size.active">
        <div class="col-xs-3 is">
          <select class="form-control"
                  ng-model="battles.filter.state.size.is">
            <option value="==">==</option>
            <option value="!=">!=</option>
            <option value="&gt;">&gt;</option>
            <option value="&gt;=">&gt;=</option>
            <option value="<">&lt;</option>
            <option value="<=">&lt;=</option>
          </select>
        </div>
        <div class="col-xs-9">
          <input type="number"
                 class="form-control filter-input-3"
                 style="max-width:6em"
                 ng-model="battles.filter.state.size.value" />
        </div>
      </div>
    </div>
    <div class="panel panel-default"> 
      <div class="panel-heading"
           ng-click="battles.filter.state.event.active=!battles.filter.state.event.active"
           ng-class="{
           'active': battles.filter.state.event.active
           }">
        <div class="icon-sprite"
              ng-class="{
              'icon-checked':battles.filter.state.event.active,
              'icon-unchecked':!battles.filter.state.event.active
              }"></div>
        <h5 class="panel-title">Event</h5>
      </div>
      <div class="panel-body row"
           ng-show="battles.filter.state.event.active">
        <div class="col-xs-3 is">
          <select class="form-control"
                  ng-model="battles.filter.state.event.is">
            <option value="true">is</option>
            <option value="false">is not</option>
          </select>
        </div>
        <div class="col-xs-9">
          <select class="form-control multiple"
                  ng-model="battles.filter.state.event.value"
                  ng-options="e for e in battles.events"
                  multiple>
          </select>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"
           ng-click="battles.filter.state.initiative.active=!battles.filter.state.initiative.active"
           ng-class="{
           'active': battles.filter.state.initiative.active
           }">
        <div class="icon-sprite"
              ng-class="{
              'icon-checked':battles.filter.state.initiative.active,
              'icon-unchecked':!battles.filter.state.initiative.active
              }"></div>
        <h5 class="panel-title">
          Initiative
        </h5>
      </div>
      <div class="panel-body row"
           ng-show="battles.filter.state.initiative.active">
        <div class="col-xs-3 is">
          <select class="form-control"
                  ng-model="battles.filter.state.initiative.is">
            <option value="true">is</option>
            <option value="false">is not</option>
          </select>
        </div>
        <div class="col-xs-4"
             style="padding-right:5px">
          <select class="form-control"
                  ng-model="battles.filter.state.initiative.value.won_roll">
            <option selected value=""></option>
            <option selected value="true">Won roll</option>
            <option selected value="false">Lost roll</option>
          </select>
        </div>
        <div class="col-xs-5"
             style="padding-right:5px">
          <select class="form-control"
                  ng-model="battles.filter.state.initiative.value.started">
            <option selected value=""></option>
            <option selected value="true">started game</option>
            <option selected value="false">chose side</option>
          </select>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"
           ng-click="battles.filter.state.tags.active=!battles.filter.state.tags.active"
           ng-class="{
           'active': battles.filter.state.tags.active
           }">
        <div class="icon-sprite"
              ng-class="{
              'icon-checked':battles.filter.state.tags.active,
              'icon-unchecked':!battles.filter.state.tags.active
              }"></div>
        <h5 class="panel-title">Tags</h5>
      </div>
      <div class="panel-body row"
           ng-show="battles.filter.state.tags.active">
        <div class="col-xs-5 is">
          <select class="form-control"
                  ng-model="battles.filter.state.tags.is">
            <option value="any">include any of</option>
            <option value="all">include all of</option>
            <option value="not_all">do not include all of</option>
            <option value="none">include none of</option>
          </select>
        </div>
        <div class="col-xs-7">
          <select class="form-control multiple"
                  ng-model="battles.filter.state.tags.value"
                  ng-options="t for t in battles.tags"
                  multiple>
          </select>
        </div>
      </div>
    </div>
  </form>
</div>
