<div id="Info"
     class="container">
  <h3>Legal Information</h3>
  <p>Images originating from the Privateer Press website are &copy; 2001-2014 Privateer Press, Inc. All Rights Reserved.</p>
  <p>Privateer Press&reg;, WARMACHINE&reg;, Cryx&trade;, Cygnar&trade;, Khador&trade;, Protectorate of Menoth&trade;, Retribution of Scyrah&trade;, Convergence of Cyriss&trade;, Warcaster&trade;, HORDES&trade;, Circle Oroboros&trade;, Legion of Everblight&trade;, Skorne&trade;, TrollBloods&trade;, and their logos are trademarks of Privateer Press, Inc.</p>
  <p>Images and trademarks used without permission</p>
  <p>This application is unofficial and is not endorsed by Privateer Press</p>
  <h3>License and Source code <img src="img/agplv3.png" /></h3>
  <p>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
  </p>
  <p>
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.
  </p>
  <p>
    The source code for this program is available <a href="https://github.com/eauc/jlog">here</a>.
  </p>
</div>
