<li ng-class="{
    'active': stateIs('battle')
    }">
  <a href="#/battle">
    <span class="glyphicon glyphicon-list"></span>
    Battle List
  </a>
</li>
<!-- <li ng-class="{
'active': stateIs('stats')
}">
<a href="#/stats">
<span class="glyphicon glyphicon-stats"></span>
Statistics
</a>
</li> -->
<!-- <li ng-class="{
'active': stateIs('backup')
}">
<a href="#/backup">
<span class="glyphicon glyphicon-floppy-disk"></span>
Backup
</a>
</li> -->
<li ng-class="{
    'active': stateIs('info')
    }">
  <a href="#/info">
    <span class="glyphicon glyphicon-info-sign"></span>
    Info
  </a>
</li>
