<div>
  <div id="drop-stats-entry"
       class="btn-group dropup">
    <button class="btn btn-default"
            open-dropdown="drop-stats-entry">
      <span style="font-weight:bold">%</span>
      <span>{{ENTRIES[state.entry].desc}}</span>
    </button>
    <ul class="dropdown-menu text-left">
      <li class="dropdown-header">Show</li>
      <li ng-repeat="(id, e) in ::ENTRIES">
        <a ng-click="::doSetEntry(id)">
          {{::e.desc}}
        </a>
      </li>
    </ul>
  </div>
  <div id="drop-stats-selector"
       class="btn-group dropup">
    <button class="btn btn-default"
            open-dropdown="drop-stats-selector">
      <span class="glyphicon glyphicon-sort"></span>
      <span>{{SELECTORS[state.selector].desc}}</span>
    </button>
    <ul class="dropdown-menu text-left">
      <li class="dropdown-header">Sorted By</li>
      <li ng-repeat="(id, s) in ::SELECTORS">
        <a ng-click="::doSetSelector(id)">
          {{::s.desc}}
        </a>
      </li>
    </ul>
  </div>
  <div id="drop-list-filter"
       class="btn-group dropup">
    <button class="btn"
            ng-class="{
            'btn-default': !battles.filter.active,
            'btn-success': battles.filter.active && !battles.filter.invert,
            'btn-primary': battles.filter.active && battles.filter.invert
            }"
            open-dropdown="drop-list-filter">
      <span class="glyphicon glyphicon-filter"></span>
      <span class="lbl">Filter</span>
    </button>
    <ul class="dropdown-menu text-left">
      <li class="dropdown-header">Filter</li>
      <li>
        <a href="#/filter">
          <span class="glyphicon glyphicon-edit"></span>
          Edit
        </a>
      </li>
      <li class="divider"></li>
      <li ng-show="
          battles.filter.active &&
          !battles.filter.invert
          ">
        <a ng-click="doToggleFilterInvert()">
          <span class="glyphicon glyphicon-random"></span>
          Invert
        </a>
      </li>
      <li ng-show="
          battles.filter.active &&
          battles.filter.invert
          ">
        <a ng-click="doToggleFilterInvert()">
          <span class="glyphicon glyphicon-refresh"></span>
          Restore
        </a>
      </li>
      <li ng-hide="battles.filter.active">
        <a ng-click="doToggleFilterActive()">
          <span class="glyphicon glyphicon-ok-circle"></span>
          Enable
        </a>
      </li>
      <li ng-show="battles.filter.active">
        <a ng-click="doToggleFilterActive()">
          <span class="glyphicon glyphicon-ban-circle"></span>
          Disable
        </a>
      </li>
    </ul>
  </div>
</div>
