<div class="btn-group">
  <div class="btn-group drop">
    <button class="btn btn-default"
            open-dropdown>
      <span style="font-weight:bold">%</span>
      <span>{{ENTRIES[state.entry].desc}}</span>
    </button>
    <div class="drop-mask">
      <ul class="drop-menu">
        <li class="dropdown-header">Show</li>
        <li ng-repeat="(id, e) in ::ENTRIES">
          <a ng-click="::doSetEntry(id)">
            {{::e.desc}}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="btn-group drop">
    <button class="btn btn-default"
            open-dropdown>
      <div class="icon-sprite icon-sort"></div>
      <span>{{SELECTORS[state.selector].desc}}</span>
    </button>
    <div class="drop-mask">
      <ul class="drop-menu">
        <li class="dropdown-header">Sorted By</li>
        <li ng-repeat="(id, s) in ::SELECTORS">
          <a ng-click="::doSetSelector(id)">
            {{::s.desc}}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="btn-group drop">
    <button class="btn"
            ng-class="{
            'btn-default': !battles.filter.active,
            'btn-success': battles.filter.active && !battles.filter.invert,
            'btn-primary': battles.filter.active && battles.filter.invert
            }"
            open-dropdown>
      <div class="icon-sprite icon-filter"></div>
      <span class="lbl">Filter</span>
    </button>
    <div class="drop-mask">
      <ul class="drop-menu text-left">
        <li class="dropdown-header">Filter</li>
        <li>
          <a href="#/filter">
            <div class="icon-sprite icon-edit"></div>
            Edit
          </a>
        </li>
        <li ng-show="battles.filter.active &&
                     !battles.filter.invert
                     ">
          <a ng-click="doToggleFilterInvert()">
            <div class="icon-sprite icon-invert"></div>
            Invert
          </a>
        </li>
        <li ng-show="battles.filter.active &&
                     battles.filter.invert
                     ">
          <a ng-click="doToggleFilterInvert()">
            <div class="icon-sprite icon-invert"></div>
            Restore
          </a>
        </li>
        <li ng-hide="battles.filter.active">
          <a ng-click="doToggleFilterActive()">
            <div class="icon-sprite icon-enable"></div>
            Enable
          </a>
        </li>
        <li ng-show="battles.filter.active">
          <a ng-click="doToggleFilterActive()">
            <div class="icon-sprite icon-disable"></div>
            Disable
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
