<div id="stats"
     class="container">
  <div class="section">Total</div>
  <div pie-chart values="stats.collections[state.entry].all"
       width="200" height="200"
       options="stats.ENTRIES[state.entry].factory"></div>

  <div ng-show="state.selector=='my_caster'">
    <div class="section">Factions</div>
    <div ng-repeat="(id, f) in stats.collections[state.entry].my_caster"
         class="pie-chart clickable"
         ng-click="doShow(id)"
         pie-chart values="f.all"
         width="160" height="160"
         options="stats.ENTRIES[state.entry].factory">
      <div class="pie-title">{{factions[id].name}}</div>
    </div>
    <div ng-repeat="(id, f) in stats.collections[state.entry].my_caster"
         ng-show="show(id)">
      <div class="section">
        Casters of {{factions[id].name}}
      </div>
      <div ng-repeat="(idc, c) in f.casters"
           class="pie-chart"
           pie-chart values="c"
           width="160" height="160"
           options="stats.ENTRIES[state.entry].factory">
        <div class="pie-title">{{factions[id].casters[idc].name}}</div>
      </div>
    </div>
  </div>

  <div ng-show="state.selector=='opp_name'">
    <div class="section">Opponents names</div>
    <div ng-repeat="(id, n) in stats.collections[state.entry].opp_name"
         class="pie-chart"
         pie-chart values="n"
         width="160" height="160"
         options="stats.ENTRIES[state.entry].factory">
      <div class="pie-title">{{id | capitalise}}</div>
    </div>
  </div>

  <div ng-show="state.selector=='opp_caster'">
    <div class="section">Factions</div>
    <div ng-repeat="(id, f) in stats.collections[state.entry].opp_caster"
         class="pie-chart clickable"
         ng-click="doShow(id)"
         pie-chart values="f.all"
         width="160" height="160"
         options="stats.ENTRIES[state.entry].factory">
      <div class="pie-title">{{factions[id].name}}</div>
    </div>
    <div ng-repeat="(id, f) in stats.collections[state.entry].opp_caster"
         ng-show="show(id)">
      <div class="section">
        Casters of {{factions[id].name}}
      </div>
      <div ng-repeat="(idc, c) in f.casters"
           class="pie-chart"
           pie-chart values="c"
           width="160" height="160"
           options="stats.ENTRIES[state.entry].factory">
        <div class="pie-title">{{factions[id].casters[idc].name}}</div>
      </div>
    </div>
  </div>

  <div ng-show="state.selector=='event'">
    <div class="section">Events</div>
    <div ng-repeat="(id, n) in stats.collections[state.entry].event"
         class="pie-chart"
         pie-chart values="n"
         width="160" height="160"
         options="stats.ENTRIES[state.entry].factory">
      <div class="pie-title">{{id | capitalise}}</div>
    </div>
  </div>

  <div ng-show="state.selector=='scenario'">
    <div class="section">Scenarios</div>
    <div ng-repeat="(id, n) in stats.collections[state.entry].scenario"
         class="pie-chart"
         pie-chart values="n"
         width="160" height="160"
         options="stats.ENTRIES[state.entry].factory">
      <div class="pie-title">{{scenarios[id].name}}</div>
    </div>
  </div>

  <div ng-show="state.selector=='size'">
    <div class="section">Battle Size</div>
    <div ng-repeat="(id, n) in stats.collections[state.entry].size"
         class="pie-chart"
         pie-chart values="n"
         width="160" height="160"
         options="stats.ENTRIES[state.entry].factory">
      <div class="pie-title">{{id}}</div>
    </div>
  </div>

  <div ng-show="state.selector=='result'">
    <div class="section">Battle Result</div>
    <div ng-repeat="(id, n) in stats.collections[state.entry].result"
         class="pie-chart"
         pie-chart values="n"
         width="160" height="160"
         options="stats.ENTRIES[state.entry].factory">
      <div class="pie-title">{{id | scoreType}}</div>
    </div>
  </div>

  <div ng-show="state.selector=='tag'">
    <div class="section">Tags</div>
    <div ng-repeat="(id, n) in stats.collections[state.entry].tag"
         class="pie-chart"
         pie-chart values="n"
         width="160" height="160"
         options="stats.ENTRIES[state.entry].factory">
      <div class="pie-title">{{id}}</div>
    </div>
  </div>

  <div ng-show="state.selector=='init'">
    <div class="section">Roll</div>
    <div class="pie-chart"
         pie-chart values="stats.collections[state.entry].init.rw"
         width="160" height="160"
         options="stats.ENTRIES[state.entry].factory">
      <div class="pie-title">Won Roll</div>
    </div>
    <div class="pie-chart"
         pie-chart values="stats.collections[state.entry].init.rl"
         width="160" height="160"
         options="stats.ENTRIES[state.entry].factory">
      <div class="pie-title">Lost Roll</div>
    </div>
    <div class="section">Start</div>
    <div class="pie-chart"
         pie-chart values="stats.collections[state.entry].init.pf"
         width="160" height="160"
         options="stats.ENTRIES[state.entry].factory">
      <div class="pie-title">First Player</div>
    </div>
    <div class="pie-chart"
         pie-chart values="stats.collections[state.entry].init.ps"
         width="160" height="160"
         options="stats.ENTRIES[state.entry].factory">
      <div class="pie-title">Second Player</div>
    </div>
  </div>
</div>
