<!doctype html>
<html lang="en" ng-app="grudgeApp">
  <head>
    <meta charset="utf-8">
    <title>Iron Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app.css" />
  </head>
  <body ng-controller="mainCtrl">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          Iron Web
        </a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">BattleList</a></li>
        <li><a href="#">Statistics</a></li>
      </ul>
    </nav>
    <div class="container">
      <table class="table result">
        <tr>
          <th class="hidden-xs">Date</th>
          <th>Caster</th>
          <th>Opponent</th>
          <th>Caster</th>
          <th class="hidden-xs">Size</th>
          <th class="visible-lg">Scenario</th>
          <th class="visible-lg">Event</th>
          <th>Result</th>
        </tr>
        <tr ng-repeat="battle in battles">
          <td class="hidden-xs">
            {{battle.date.year}} /
            {{battle.date.month}} /
            {{battle.date.day}}
          </td>
          <td>
            <img width="35"
                 alt="{{battle.my_army.faction}}"
                 src="img/{{factions[battle.my_army.faction].icon}}" />
            {{battle.my_army.caster | capitalise}}
          </td>
          <td>{{battle.opponent.name | capitalise}}</td>
          <td>
            <img width="35"
                 alt="{{battle.opponent.faction}}"
                 src="img/{{factions[battle.opponent.faction].icon}}" />
            {{battle.opponent.caster | capitalise}}
          </td>
          <td class="hidden-xs">{{battle.setup.size}}</td>
          <td class="visible-lg">{{scenarios[battle.setup.scenario].name}}</td>
          <td class="visible-lg">{{battle.setup.event}}</td>
          <td class="{{battle.score.result | scoreResultColor}}">
            <strong class="score-result">{{battle.score.type | scoreTypeLetter}}</strong>
          </td>
        </tr>
      </table>
    </div>
    <div class="container">
      <table class="col-sm-6">
        <tr>
          <th colspan="2">My army :</th>
        </tr>
        <tr>
          <td rowspan="2">
            <img class="pull-left"
                 width="50"
                 alt="{{battle.my_army.faction}}"
                 src="img/{{factions[battle.my_army.faction].icon}}" />
          </td>
          <td>
            <select ng-model="battle.my_army.faction"
                    ng-options="id as f.name for (id, f) in factions">
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <select ng-model="battle.my_army.caster"
                    ng-options="id as c.name for (id, c) in factions[battle.my_army.faction].casters">
            </select>
          </td>
        </tr>
      </table>
      <table class="col-sm-6">
        <tr>
          <th colspan="2">Opponent :</th>
        </tr>
        <tr>
          <td rowspan="3">
            <img class="pull-left"
                 width="50"
                 alt="{{battle.opponent.faction}}"
                 src="img/{{factions[battle.opponent.faction].icon}}" />
          </td>
          <td>
            <select ng-model="battle.opponent.name"
                    ng-options="o as o|capitalise for o in opponents">
            </select>
            <button class="btn btn-xs">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </td>
        </tr>
        <tr>
          <td>
            <select ng-model="battle.opponent.faction"
                    ng-options="id as f.name for (id, f) in factions">
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <select ng-model="battle.opponent.caster"
                    ng-options="id as c.name for (id, c) in factions[battle.opponent.faction].casters">
            </select>
          </td>
        </tr>
      </table>
      <table class="col-sm-6">
        <tr>
          <th colspan="2">Settings :</th>
        </tr>
        <tr>
          <td>Date</td>
          <td>
            <input type="number" ng-model="battle.date.year" style="width:4em;" />/
            <input type="number" ng-model="battle.date.month" style="width:2em;" />/
            <input type="number" ng-model="battle.date.day" style="width:2em;" />
          </td>
        </tr>
        <tr>
          <td>Event</td>
          <td>
            <select ng-model="battle.setup.event"
                    ng-options="e for e in events">
            </select>
            <button class="btn btn-xs">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </td>
        </tr>
        <tr>
          <td>Scenario</td>
          <td>
            <select ng-model="battle.setup.scenario"
                    ng-options="id as s.name for (id, s) in scenarios">
            </select>
          </td>
        </tr>
        <tr>
          <td>Army size</td>
          <td>
            <input type="number" ng-model="battle.setup.size" style="width:3em;" />
          </td>
        </tr>
      </table>
      <table class="col-sm-6">
        <tr>
          <th>Game result :</th>
          <td>
            <select ng-model="battle.score"
                    ng-options="s as s.type | capitalise group by s.result | capitalise for s in scores">
            </select>
            <strong class="{{battle.score.result | scoreResultColor}}">
              {{ battle.score.result | capitalise }}
            </strong>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>My Army</td>
          <td>Opponent</td>
        </tr>
        <tr>
          <td>Control Points</td>
          <td>
            <input type="number" ng-model="battle.points.my_army.scenario" style="width:3em;" />
          </td>
          <td>
            <input type="number" ng-model="battle.points.opponent.scenario" style="width:3em;" />
          </td>
        </tr>
        <tr>
          <td>Kill Points</td>
          <td>
            <input type="number" ng-model="battle.points.my_army.army" style="width:3em;" />
          </td>
          <td>
            <input type="number" ng-model="battle.points.opponent.army" style="width:3em;" />
          </td>
        </tr>
      </table>
      <table class="col-sm-12">
        <tr>
          <th>Comment :</th>
        </tr>
        <tr>
          <td>
            <textarea style="width:100%;" ng-model="battle.comment"></textarea>
          </td>
        </tr>
      </table>
      <p class="text-center">
        <button class="btn btn-success"><span class="glyphicon glyphicon-save"></span> Save</button>
        <button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
      </p>
    </div>
    <div class="container">
      <table class="col-sm-6">
        <tr>
          <th colspan="2">My army :</th>
        </tr>
        <tr>
          <td rowspan="2">
            <img class="pull-left"
                 width="50"
                 alt="{{battle.my_army.faction}}"
                 src="img/{{factions[battle.my_army.faction].icon}}" />
          </td>
          <td>{{factions[battle.my_army.faction].name}}</td>
        </tr>
        <tr>
          <td>
            {{factions[battle.my_army.faction].casters[battle.my_army.caster].name}}
            ({{battle.my_army.caster}})
          </td>
        </tr>
      </table>
      <table class="col-sm-6">
        <tr>
          <th colspan="2">Opponent :</th>
        </tr>
        <tr>
          <td rowspan="3">
            <img class="pull-left" 
                 width="50" 
                 alt="{{battle.opponent.faction}}"
                 src="img/{{factions[battle.opponent.faction].icon}}" />
          </td>
          <td>{{battle.opponent.name | capitalise}}</td>
        </tr>
        <tr>
          <td>{{factions[battle.opponent.faction].name}}</td>
        </tr>
        <tr>
          <td>
            {{factions[battle.opponent.faction].casters[battle.opponent.caster].name}}
            ({{battle.opponent.caster}})
          </td>
        </tr>
      </table>
      <table class="col-sm-6">
        <tr>
          <th colspan="2">Settings :</th>
        </tr>
        <tr>
          <td>Date</td>
          <td>
            {{battle.date.year}}
            /
            {{battle.date.month}}
            /
            {{battle.date.day}}
          </td>
        </tr>
        <tr>
          <td>Event</td>
          <td>{{battle.setup.event}}</td>
        </tr>
        <tr>
          <td>Scenario</td>
          <td>{{scenarios[battle.setup.scenario].name}}</td>
        </tr>
        <tr>
          <td>Army size</td>
          <td>{{battle.setup.size}}</td>
        </tr>
      </table>
      <table class="col-sm-6">
        <tr>
          <th>Game result :</th>
          <td colspan="2">
            <strong class="{{battle.score.result | scoreResultColor}}">
              {{battle.score.type | capitalise}}
              {{battle.score.result | capitalise}}
            </strong>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>My Army</td>
          <td>Opponent</td>
        </tr>
        <tr>
          <td>Control Points</td>
          <td>{{battle.points.my_army.scenario}}</td>
          <td>{{battle.points.opponent.scenario}}</td>
        </tr>
        <tr>
          <td>Kill Points</td>
          <td>{{battle.points.my_army.army}}</td>
          <td>{{battle.points.opponent.army}}</td>
        </tr>
      </table>
      <table class="col-sm-12">
        <tr>
          <th>Comment :</th>
        </tr>
        <tr>
          <td>{{battle.comment}}</td>
        </tr>
      </table>
      <p class="text-center">
        <button class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Edit</button>
        <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        <button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Close</button>
      </p>
    </div>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-ui-router.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/mainCtrl.js"></script> 
    <script src="js/filters/scoreResultColorFilter.js"></script>
    <script src="js/filters/capitaliseFilter.js"></script>
 </body>
</html>
