.clickable {
    cursor: pointer;
    * {
        cursor: pointer;
    }
    &:hover {
        background-color:#EEE;
    }
}

@mixin page-mask {
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.control-label {
    padding-top: 5px;
    text-align: left;
}
.btn,
.form-control {
    margin-bottom: 5px;
}
select.multiple {
    height: auto !important;
}

.ie-warning {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: red;
    color: white;
    font-weight: bold;
    margin: 0px;
    padding: 5px 20px;
    z-index: 100000;
}

@media (max-width: 767px) {
    #page div {
        font-size: $small-font-size;
    }
    .container {
        padding-right: 2px;
        padding-left: 2px;
    }
    .row {
        margin-right: -2px;
        margin-left: -2px;
    }
    .panel {
        margin-bottom: 5px;
    }
    .panel-heading {
        padding: 5px;
    }
    .panel-title {
        font-size: $small-font-size;
    }
    .btn,
    .form-control {
        height: 24px;
        min-height: 24px;
        margin-bottom: 3px;
        padding: 3px 6px;
        font-size: $small-font-size;
        line-height: $small-font-size;
    }
}
