.clickable {
  cursor: pointer; }
  .clickable * {
    cursor: pointer; }
  .clickable:hover {
    background-color: #EEE; }

.control-label {
  padding-top: 5px;
  text-align: left; }

.btn,
.form-control {
  margin-bottom: 5px; }

select.multiple {
  height: auto !important; }

@media (max-width: 767px) {
  #page div {
    font-size: 10px; }

  .container {
    padding-right: 2px;
    padding-left: 2px; }

  .row {
    margin-right: -2px;
    margin-left: -2px; }

  .panel {
    margin-bottom: 5px; }

  .panel-heading {
    padding: 5px; }

  .panel-title {
    font-size: 10px; }

  .btn,
  .form-control {
    height: 24px;
    min-height: 24px;
    margin-bottom: 3px;
    padding: 3px 6px;
    font-size: 10px;
    line-height: 10px; } }
.sprite-test {
  display: inline-block; }
  .sprite-test .icon-sprite {
    border: 1px solid #999;
    background-color: #9CF; }
  .sprite-test .faction-sprite {
    border: 1px solid #999;
    background-color: #9CF; }

.icon-sprite, .faction-sprite {
  display: inline-block;
  box-sizing: content-box;
  vertical-align: middle;
  padding: 0px;
  background-repeat: no-repeat; }

.icon-sprite {
  background-image: url("/data/icons/all_icons.png"); }

.icon-sprite {
  width: 12px;
  height: 12px;
  background-size: 288px 12px;
  background-position: 12px 0px; }
.icon-add {
  background-position: 0px 0px; }
.icon-filter {
  background-position: -12px 0px; }
.icon-sort {
  background-position: -24px 0px; }
.icon-save {
  background-position: -36px 0px; }
.icon-menu {
  background-position: -48px 0px; }
.icon-list {
  background-position: -60px 0px; }
.icon-pie {
  background-position: -72px 0px; }
.icon-backup {
  background-position: -84px 0px; }
.icon-help {
  background-position: -96px 0px; }
.icon-info {
  background-position: -108px 0px; }
.icon-edit {
  background-position: -120px 0px; }
.icon-enable {
  background-position: -132px 0px; }
.icon-disable {
  background-position: -144px 0px; }
.icon-up {
  background-position: -156px 0px; }
.icon-down {
  background-position: -168px 0px; }
.icon-invert {
  background-position: -180px 0px; }
.icon-delete {
  background-position: -192px 0px; }
.icon-close {
  background-position: -204px 0px; }
.icon-remove {
  background-position: -216px 0px; }
.icon-checked {
  background-position: -228px 0px; }
.icon-unchecked {
  background-position: -240px 0px; }
.icon-upload {
  background-position: -252px 0px; }
.icon-download {
  background-position: -264px 0px; }
.icon-file {
  background-position: -276px 0px; }

@media (min-width: 768px) {
  .icon-sprite {
    width: 16px;
    height: 16px;
    background-size: 384px 16px;
    background-position: 16px 0px; }
  .icon-add {
    background-position: 0px 0px; }
  .icon-filter {
    background-position: -16px 0px; }
  .icon-sort {
    background-position: -32px 0px; }
  .icon-save {
    background-position: -48px 0px; }
  .icon-menu {
    background-position: -64px 0px; }
  .icon-list {
    background-position: -80px 0px; }
  .icon-pie {
    background-position: -96px 0px; }
  .icon-backup {
    background-position: -112px 0px; }
  .icon-help {
    background-position: -128px 0px; }
  .icon-info {
    background-position: -144px 0px; }
  .icon-edit {
    background-position: -160px 0px; }
  .icon-enable {
    background-position: -176px 0px; }
  .icon-disable {
    background-position: -192px 0px; }
  .icon-up {
    background-position: -208px 0px; }
  .icon-down {
    background-position: -224px 0px; }
  .icon-invert {
    background-position: -240px 0px; }
  .icon-delete {
    background-position: -256px 0px; }
  .icon-close {
    background-position: -272px 0px; }
  .icon-remove {
    background-position: -288px 0px; }
  .icon-checked {
    background-position: -304px 0px; }
  .icon-unchecked {
    background-position: -320px 0px; }
  .icon-upload {
    background-position: -336px 0px; }
  .icon-download {
    background-position: -352px 0px; }
  .icon-file {
    background-position: -368px 0px; } }
.faction-sprite {
  background-image: url("/data/img/all_factions.png"); }

.faction-sprite {
  width: 40px;
  height: 40px;
  background-size: 480px 40px;
  background-position: 40px 0px; }
.faction-sprite.small {
  width: 24px;
  height: 24px;
  background-size: 288px 24px;
  background-position: 24px 0px; }
.faction-circle {
  background-position: 0px 0px; }
.faction-circle.small {
  background-position: 0px 0px; }
.faction-cryx {
  background-position: -40px 0px; }
.faction-cryx.small {
  background-position: -24px 0px; }
.faction-cygnar {
  background-position: -80px 0px; }
.faction-cygnar.small {
  background-position: -48px 0px; }
.faction-cyriss {
  background-position: -120px 0px; }
.faction-cyriss.small {
  background-position: -72px 0px; }
.faction-khador {
  background-position: -160px 0px; }
.faction-khador.small {
  background-position: -96px 0px; }
.faction-loe {
  background-position: -200px 0px; }
.faction-loe.small {
  background-position: -120px 0px; }
.faction-menoth {
  background-position: -240px 0px; }
.faction-menoth.small {
  background-position: -144px 0px; }
.faction-cephalyx {
  background-position: -280px 0px; }
.faction-cephalyx.small {
  background-position: -168px 0px; }
.faction-fourstar {
  background-position: -280px 0px; }
.faction-fourstar.small {
  background-position: -168px 0px; }
.faction-highborn {
  background-position: -280px 0px; }
.faction-highborn.small {
  background-position: -168px 0px; }
.faction-mercs {
  background-position: -280px 0px; }
.faction-mercs.small {
  background-position: -168px 0px; }
.faction-seaforge {
  background-position: -280px 0px; }
.faction-seaforge.small {
  background-position: -168px 0px; }
.faction-talion {
  background-position: -280px 0px; }
.faction-talion.small {
  background-position: -168px 0px; }
.faction-blindwater {
  background-position: -320px 0px; }
.faction-blindwater.small {
  background-position: -192px 0px; }
.faction-minions {
  background-position: -320px 0px; }
.faction-minions.small {
  background-position: -192px 0px; }
.faction-thornfall {
  background-position: -320px 0px; }
.faction-thornfall.small {
  background-position: -192px 0px; }
.faction-scyrah {
  background-position: -360px 0px; }
.faction-scyrah.small {
  background-position: -216px 0px; }
.faction-skorne {
  background-position: -400px 0px; }
.faction-skorne.small {
  background-position: -240px 0px; }
.faction-troll {
  background-position: -440px 0px; }
.faction-troll.small {
  background-position: -264px 0px; }

@media (min-width: 768px) {
  .faction-sprite {
    width: 50px;
    height: 50px;
    background-size: 600px 50px;
    background-position: 50px 0px; }
  .faction-sprite.small {
    width: 30px;
    height: 30px;
    background-size: 360px 30px;
    background-position: 30px 0px; }
  .faction-circle {
    background-position: 0px 0px; }
  .faction-circle.small {
    background-position: 0px 0px; }
  .faction-cryx {
    background-position: -50px 0px; }
  .faction-cryx.small {
    background-position: -30px 0px; }
  .faction-cygnar {
    background-position: -100px 0px; }
  .faction-cygnar.small {
    background-position: -60px 0px; }
  .faction-cyriss {
    background-position: -150px 0px; }
  .faction-cyriss.small {
    background-position: -90px 0px; }
  .faction-khador {
    background-position: -200px 0px; }
  .faction-khador.small {
    background-position: -120px 0px; }
  .faction-loe {
    background-position: -250px 0px; }
  .faction-loe.small {
    background-position: -150px 0px; }
  .faction-menoth {
    background-position: -300px 0px; }
  .faction-menoth.small {
    background-position: -180px 0px; }
  .faction-cephalyx {
    background-position: -350px 0px; }
  .faction-cephalyx.small {
    background-position: -210px 0px; }
  .faction-fourstar {
    background-position: -350px 0px; }
  .faction-fourstar.small {
    background-position: -210px 0px; }
  .faction-highborn {
    background-position: -350px 0px; }
  .faction-highborn.small {
    background-position: -210px 0px; }
  .faction-mercs {
    background-position: -350px 0px; }
  .faction-mercs.small {
    background-position: -210px 0px; }
  .faction-seaforge {
    background-position: -350px 0px; }
  .faction-seaforge.small {
    background-position: -210px 0px; }
  .faction-talion {
    background-position: -350px 0px; }
  .faction-talion.small {
    background-position: -210px 0px; }
  .faction-blindwater {
    background-position: -400px 0px; }
  .faction-blindwater.small {
    background-position: -240px 0px; }
  .faction-minions {
    background-position: -400px 0px; }
  .faction-minions.small {
    background-position: -240px 0px; }
  .faction-thornfall {
    background-position: -400px 0px; }
  .faction-thornfall.small {
    background-position: -240px 0px; }
  .faction-scyrah {
    background-position: -450px 0px; }
  .faction-scyrah.small {
    background-position: -270px 0px; }
  .faction-skorne {
    background-position: -500px 0px; }
  .faction-skorne.small {
    background-position: -300px 0px; }
  .faction-troll {
    background-position: -550px 0px; }
  .faction-troll.small {
    background-position: -330px 0px; } }
.prompt-mask {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 2000; }

.prompt-container {
  z-index: 2010;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px; }

.prompt-panel {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px; }

.appcache-progress {
  position: absolute;
  bottom: -3px;
  left: 0px;
  height: 3px;
  width: 100%;
  background-color: #999; }

.appcache-progress-bar {
  background-color: #BBF;
  height: 3px; }

.navbar-version {
  position: absolute;
  bottom: 0;
  left: 2em;
  font-size: 0.8em;
  color: #666; }

@media (max-width: 767px) {
  #page {
    padding-top: 40px; }

  .navbar {
    height: 40px;
    min-height: 40px; }

  .navbar-brand {
    height: 40px;
    line-height: 12px;
    font-size: 15px; }

  .navbar-header .navbar-nav > li > a {
    padding: 3px 5px; }

  .top-menu {
    position: absolute;
    right: 5px;
    top: 0px; }

  .top-menu > button {
    height: 28px;
    padding: 6px 10px;
    font-size: 10px; }

  .top-menu-mask {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: none; }

  .top-menu-mask > ul {
    max-width: 300px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }

  .top-menu-opened .top-menu-mask {
    display: initial; }
  .top-menu-opened #bottom-bar {
    display: none; } }
@media (min-width: 768px) {
  #page {
    padding-top: 50px; }

  .top-menu {
    float: right; }

  .top-menu > button {
    display: none; } }
#page {
  padding-bottom: 50px; }

#bottom-bar {
  background-color: white;
  height: 50px; }
  #bottom-bar .container {
    border-top: 1px solid #CCC;
    padding-top: 8px; }
  #bottom-bar button {
    min-width: 100px; }
  #bottom-bar .drop {
    display: inline-block;
    position: relative; }
  #bottom-bar .drop-mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0; }
  #bottom-bar .open .drop-mask {
    display: initial; }
  #bottom-bar .drop-menu {
    display: block;
    position: absolute;
    top: auto;
    bottom: 100%;
    left: 0;
    z-index: 1000;
    min-width: 160px;
    max-height: 300px;
    overflow-y: auto;
    padding: 5px 0;
    margin: 2px 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
  #bottom-bar .drop-menu a {
    display: block;
    line-height: 2em;
    padding: 5px 20px;
    color: #555; }
    #bottom-bar .drop-menu a:hover, #bottom-bar .drop-menu a:active {
      background-color: #dedede;
      text-decoration: none; }

@media (max-width: 767px) {
  #page {
    padding-bottom: 40px; }

  #bottom-bar {
    height: 40px; }
    #bottom-bar .container {
      padding: 4px 0px 0px 0px; }
    #bottom-bar button {
      height: 28px;
      min-width: 50px;
      padding-left: 5px;
      padding-right: 5px;
      font-size: 10px; }
      #bottom-bar button .lbl {
        display: none; }
    #bottom-bar .drop-mask {
      position: fixed;
      background-color: rgba(0, 0, 0, 0.5);
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      z-index: 2000;
      text-align: center;
      display: none; }
    #bottom-bar .drop-menu {
      display: inline-block;
      position: static;
      margin-top: 10%;
      width: 300px;
      max-height: 80%;
      overflow-y: auto;
      padding: 5px 0;
      font-size: 14px;
      text-align: left;
      list-style: none;
      background-color: #fff;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      border: 1px solid #ccc;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); } }
#battle-list .table-header {
  z-index: 10;
  position: fixed;
  width: 100%;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  background-color: #d9edf7;
  white-space: nowrap; }
#battle-list .table-row {
  border-top: 1px solid #CCC;
  vertical-align: middle;
  line-height: 40px;
  white-space: nowrap; }
  #battle-list .table-row div {
    overflow: hidden; }
#battle-list .score-result {
  font-size: 1.5em; }
@media (max-width: 767px) {
  #battle-list .table-header {
    z-index: 10;
    height: 20px;
    line-height: 20px; }
    #battle-list .table-header .sort-indicator {
      display: none; }
  #battle-list .table-body {
    padding-top: 20px; }
  #battle-list .table-row {
    line-height: 30px; }
  #battle-list .col-xs-1 {
    width: 8%; }
  #battle-list .col-xs-2 {
    width: 16%; }
  #battle-list .col-xs-3 {
    width: 24%; }
  #battle-list .col-xs-4 {
    width: 33%; } }
@media (min-width: 768px) {
  #battle-list .table-header {
    max-width: 750px; }
  #battle-list .table-body {
    padding-top: 30px; }
  #battle-list .col-sm-1 {
    width: 4.5%; }
  #battle-list .col-sm-2 {
    width: 9.0%; }
  #battle-list .col-sm-3 {
    width: 13.5%; }
  #battle-list .col-sm-4 {
    width: 18.0%; } }
@media (min-width: 992px) {
  #battle-list .table-header {
    max-width: 970px; } }
@media (min-width: 1200px) {
  #battle-list .table-header {
    max-width: 1170px; } }

#battle-edit {
  margin-bottom: 200px; }

#stats {
  text-align: center; }
  #stats .pie-legend {
    word-wrap: break-word;
    padding: 10px 0px 0px 0px; }
    #stats .pie-legend ul {
      list-style-type: none;
      padding: 0px; }
  #stats .pie-container {
    padding: 0 0 0 15px;
    width: 50%;
    max-width: 250px; }

#filter-edit .title {
  font-weight: bold;
  line-height: 30px;
  background-color: #afd9ee;
  padding: 5px; }
#filter-edit .first {
  margin-top: 5px; }
#filter-edit .panel-heading {
  cursor: pointer; }
  #filter-edit .panel-heading.active {
    background-color: #d9edf7; }
#filter-edit .panel-title {
  display: inline-block; }
#filter-edit .header.active {
  background-color: #EEE;
  padding-bottom: 5px;
  margin-bottom: 5px; }
#filter-edit .is {
  padding-right: 0px; }

#backup .result {
  line-height: 24px; }
  @media (min-width: 768px) {
    #backup .result {
      line-height: 30px; } }

/*# sourceMappingURL=app.css.map */
