.clickable,
.clickable * {
    cursor: pointer;
}
.clickable:hover {
    background-color:#EEE;
}

@media (max-width: 767px) {
    #page div {
        font-size:10px;
    }
}

/******************************************************/
/* main view
/******************************************************/

#drop-menu {
    position: absolute;
    right: 5px;
    top: 0px;
}
#drop-menu .dropdown-menu {
    left: auto;
    right: 0px;
}
@media (max-width: 767px) {
    .navbar {
        height:40px;
        min-height: 40px;
    }
    .navbar-brand {
        height:40px;
        line-height:12px;
        font-size: 15px;
    }
    #tab-menu {
        display: none;
    }
    #drop-menu button {
        font-size: 10px;
        padding: 6px 10px;
    }
    #drop-menu .dropdown-menu {
        top: 35px;
    }
    #page {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
@media (min-width: 768px) {
    #drop-menu {
        display: none;
    }
    #page {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

/******************************************************/
/* appCache progress bar
/******************************************************/

.appcache-progress {
    position:absolute;
    bottom:-3px;
    left:0px;
    height:3px;
    width:100%;
    background-color:#999;
}
.appcache-progress-bar {
    background-color:#BBF;
    height:3px;
}

/******************************************************/
/* bottom bar
/******************************************************/

#bottom-bar {
    background-color: white;
}
#bottom-bar .container {
    border-top: 1px solid #CCC;
    padding-top: 8px;
}
#bottom-bar button {
    min-width:100px;
}
@media (max-width: 767px) {
    #bottom-bar {
        height: 40px;
    }
    #bottom-bar .container {
        padding: 4px 0px 0px 0px;
    }
    #bottom-bar button {
        min-width: 50px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 10px;
    }
    #bottom-bar button .lbl {
        display: none;
    }
}

/******************************************************/
/* battle-list
/******************************************************/

#battle-list .table-header {
    z-index: 10;
    position: fixed;
    width: 100%;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    background-color: #CCC;
    white-space: nowrap;
}
@media (max-width: 767px) {
    #battle-list .table-header .sort-indicator {
        display: none;
    }
}
@media (min-width: 768px) {
    #battle-list .table-header {
        max-width: 750px;
    }
}
@media (min-width: 992px) {
    #battle-list .table-header {
        max-width: 970px;
    }
}
@media (min-width: 1200px) {
    #battle-list .table-header {
        max-width: 1170px;
    }
}
#battle-list .table-row {
    border-top:1px solid #CCC;
    vertical-align:middle;
    line-height:40px;
    white-space: nowrap;
}
#battle-list .table-row div {
    overflow:hidden;
}
#battle-list .faction-icon {
    height: 30px;
}
#battle-list .score-result {
    font-size: 1.5em;
}
@media (max-width: 767px) {
    #battle-list .table-header {
        z-index: 10;
        height: 20px;
        line-height: 20px;
    }
    #battle-list .table-body {
        padding-top: 20px;
    }
    #battle-list .table-row {
        line-height:30px;
    }
    #battle-list .faction-icon {
        height: 24px;
    }
    #battle-list .col-xs-1 {
        width: 8%;
    }
    #battle-list .col-xs-2 {
        width: 16%;
    }
    #battle-list .col-xs-3 {
        width: 24%;
    }
    #battle-list .col-xs-4 {
        width: 33%;
    }
}
@media (min-width: 768px) {
    #battle-list .table-body {
        padding-top: 30px;
    }
    #battle-list .col-sm-1 {
        width: 4.5%;
    }
    #battle-list .col-sm-2 {
        width: 9.0%;
    }
    #battle-list .col-sm-3 {
        width: 13.5%;
    }
    #battle-list .col-sm-4 {
        width: 18.0%;
    }
}

/******************************************************/
/* battle-edit
/******************************************************/

#battle-edit {
    max-width: 400px;
    margin-bottom: 200px;
}
#battle-edit .control-label {
    padding-top: 5px;
    text-align: left;
}
#battle-edit input,
#battle-edit button.btn-sm,
#battle-edit select.form-control {
    margin-bottom: 5px;
}
#battle-edit select.multiple {
    height: auto !important;
}
#battle-edit .faction-icon {
    width:50px;
}

@media (max-width: 767px) {
    #battle-edit input,
    #battle-edit button.btn-sm,
    #battle-edit select.form-control {
        font-size: 10px;
        height: 24px;
        line-height: 10px;
        margin-bottom: 3px;
    }
    #battle-edit .faction-icon {
        width:40px;
    }
}

/******************************************************/
/* battle-view
/******************************************************/

#battle-view {
    max-width: 400px;
}
#battle-view .row {
    margin-bottom:10px;
}
#battle-view .section {
    background-color:#CCC;
    padding-top:3px;
}
#battle-view .faction-icon {
    width:50px;
}
@media (max-width: 767px) {
    #battle-view .row {
        margin-bottom:5px;
    }
    #battle-view .faction-icon {
        width:40px;
    }
}

/******************************************************/
/* backup
/******************************************************/

#backup {
    max-width:400px;
}
#backup .row {
    margin-bottom: 10px;
}
#backup .section {
    background-color: #CCC;
    padding-top: 3px;
    margin-bottom: 10px;
}
#backup .btn,
#backup input.form-control {
    padding:3px;
    height: 30px;
    margin-bottom: 5px;
}
#backup .result {
    line-height:30px;
}
@media (max-width: 767px) {
    #backup .row {
        margin-bottom: 5px;
    }
    #backup .section {
        margin-bottom: 5px;
    }
    #backup .btn,
    #backup input.form-control {
        font-size: 10px;
        height: 24px;
        min-height: 24px;
        line-height: 10px;
        margin-bottom: 3px;
    }
    #backup .result {
        line-height:24px;
    }
}

/******************************************************/
/* filter-edit
/******************************************************/

#filter-edit {
    max-width: 400px;
}

#filter-edit .title {
    z-index: 10;
    position: fixed;
    width:100%;
    max-width:400px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    background-color: #CCC;
}

#filter-edit .form-group.first {
    padding-top: 30px;
}

#filter-edit .form-group {
    margin-bottom: 0px;
}

#filter-edit .control-label {
    padding-top: 10px;
}

#filter-edit .header.active {
    background-color: #EEE;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

#filter-edit .is {
    padding-left: 0px;
    padding-right: 0px;
}

#filter-edit select.multiple {
    height: auto !important;
}

#filter-edit input,
#filter-edit select.form-control {
    padding:3px;
    height: 30px;
    margin-bottom: 5px;
}

@media (max-width: 767px) {
    #filter-edit .header .check {
        font-size: 12px;
    }
    #filter-edit input,
    #filter-edit select.form-control {
        font-size: 10px;
        height: 24px;
        min-height: 24px;
        line-height: 10px;
        margin-bottom: 3px;
    }
}


/******************************************************/
/* stats
/******************************************************/

#stats {
    padding:0px;
    text-align:center;
    max-width:800px;
}

#stats .selector-arg {
    margin:5px 0;
}

#stats .section {
    background-color:#DDD;
    font-size:14px;
    font-weight:bold;
}

#stats .pie-legend {
    word-wrap:break-word;
    padding:10px 0px 0px 0px;
}
#stats .pie-legend ul {
    list-style-type: none;
    padding:0px;
}
#stats .pie-container {
    padding:0 0 0 15px;
    width:50%;
    max-width:250px;
}

@media (max-width: 767px) {
    #stats .pie-container {
        padding:0px;
    }
    #stats input,
    #stats select.form-control {
        padding: 0;
        font-size: 10px;
        height: 24px;
        line-height: 10px;
        margin-bottom: 3px;
    }
}

