<div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="panel-title">Debug</h4>
    </div>
    <div class="panel-body">
      <button class="btn btn-default"
              ng-click="doClearStorage()">
        Clear Local Storage
      </button>
      <p>
        This will clear all data stored in memory.
        You can then reload the data from a backup file to restart in a clean state.
      </p>
      <!-- <button class="btn btn-default" -->
      <!--         ng-click="doReadOldDatabase()"> -->
      <!--   Read Old Database -->
      <!-- </button> -->
      <!-- <p> -->
      <!--   {{old_data}} -->
      <!-- </p> -->
      <button class="btn btn-default"
              ng-click="doClearSync()">
        Clear Sync Info
      </button>
      <p>
        This will clear online synchronization tags.
        You can then retry synchronization from scratch.
      </p>
    </div>
  </div>
</div>
